						<form role="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
							<fieldset>
							<legend>Login</legend>
							<div class="form-group form-group-sm" [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
								<label for="username">{{ 'LOGIN.USERNAME' | translate }}</label>
								<input type="text" name="username" class="form-control" placeholder="{{ 'LOGIN.USERNAME' | translate }}" [(ngModel)]="model.username" #username="ngModel" required >
								<div *ngIf="loginForm.submitted && !username.valid">{{ 'LOGIN.USERNAME_REQUIRED_MESSAGE' | translate }}</div>
							</div>
							<div class="form-group form-group-sm" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">	
								<label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
								<input type="password" name="password" class="form-control" placeholder="{{ 'LOGIN.PASSWORD' | translate }}" [(ngModel)]="model.password" #password="ngModel" required >
								<div *ngIf="loginForm.submitted && !password.valid">{{ 'LOGIN.PASSWORD_REQUIRED_MESSAGE' | translate }}</div>
							</div>
							<div class="form-group form-group-sm">
								<button type = "submit" class = "btn btn-primary btn-block" [disabled]="!loginForm.form.valid || loading" >
									{{ 'LOGIN.LOGIN' | translate }}
									<img alt="login" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
								</button>
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>
							</fieldset>
						</form>
						<div class="form-group">
							<button type="submit" (click)="triggerSSO()" class="btn btn-primary btn-block" [disabled]="!this.configuration?.ssoLoginAllowed || loading || ssoLoading">
								{{ 'LOGIN.LOGIN_WITH' | translate }} <img alt="sso login" src="../../../assets/images/EduGAIN_logo.png" style="max-height: inherit;
								max-width: 72px; vertical-align: text-bottom	; background: transparent no-repeat center center;">
							</button>
							<img alt="sso" *ngIf="ssoLoading" src="data:"/>
							<div *ngIf="ssoError" class="alert alert-danger">{{ssoError}}</div>
						</div>
