<div style="margin-bottom: 120px;" class="panel panel-default">
    <div class="panel-heading">{{'SSH_KEYS.HEADER' | translate}}</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{'SSH_KEYS.TABLE.NAME' | translate}}</th>
                <!--      <th>Expiration data</th>-->
                <th>{{'SSH_KEYS.TABLE.FINGERPRINT' | translate}}</th>
                <th>{{'SSH_KEYS.TABLE.ACTIONS' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let key of keysList">
                <td>{{key.name}}</td>
                <td>{{key.fingerprint}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="invalidate(key.id)">{{'SSH_KEYS.BUTTON_INVALIDATE' | translate}}</button>
                </td>
            </tr>
            <tr *ngIf="keysList.length === 0">
              <td colspan="3" style="text-align: center">{{'SSH_KEYS.NO_KEYS' | translate}}</td>
            </tr>
            </tbody>
        </table>
      <div>
          <app-new-ssh-key (out)="getData()"></app-new-ssh-key>
      </div>
    </div>
</div>
