<nmaas-modal [styleModal]="'info'">
  <div class="nmaas-modal-header">{{'APP_ACCESS_METHODS_MODAL.HEADER' | translate}}</div>
  <div class="nmaas-modal-body">
    <div *ngIf="externalAccessMethods.length > 0" class="">
      <h4>{{'APP_ACCESS_METHODS_MODAL.EXTERNAL_HEADER' | translate}}</h4>
      <table class="table table-hover table-condensed" aria-describedby="Table with external access details">
        <thead>
        <tr>
          <th scope="col">{{'APP_ACCESS_METHODS_MODAL.SERVICE_NAME' | translate}}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let am of externalAccessMethods">
          <td><strong>{{am.name}}</strong></td>
          <td> <a type="button" class="btn btn-success" href="{{validateURL(am.url)}}">{{'APP_ACCESS_METHODS_MODAL.EXTERNAL_ACCESS' | translate}}</a> </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="publicAccessMethods.length > 0" class="">
      <h4>{{'APP_ACCESS_METHODS_MODAL.PUBLIC_HEADER' | translate}}</h4>
      <table class="table table-hover table-condensed" aria-describedby="Table with public access details">
        <thead>
        <tr>
          <th scope="col">{{'APP_ACCESS_METHODS_MODAL.SERVICE_NAME' | translate}}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let am of publicAccessMethods">
          <td><strong>{{am.name}}</strong></td>
          <td> <a type="button" class="btn btn-success" href="{{validateURL(am.url)}}">{{'APP_ACCESS_METHODS_MODAL.PUBLIC_ACCESS' | translate}}</a> </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="internalAccessMethods.length > 0" class="">
      <h4>{{'APP_ACCESS_METHODS_MODAL.INTERNAL_HEADER' | translate}}</h4>
      <table class="table table-hover table-condensed" aria-describedby="Table with internal access details">
        <thead>
        <tr>
          <th scope="col">{{'APP_ACCESS_METHODS_MODAL.SERVICE_NAME' | translate}}</th>
          <th scope="col">{{'APP_ACCESS_METHODS_MODAL.ACCESS_METHOD' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let am of internalAccessMethods">
          <td><strong>{{am.name}}</strong></td>
          <td><div class="well well-sm">{{am.protocol}}: {{!!am.url ? am.url: "Not available"}}</div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="nmaas-modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.hide()">{{'APP_ACCESS_METHODS_MODAL.HIDE_BUTTON' | translate}}</button>
  </div>
</nmaas-modal>
