<app-navbar></app-navbar>
<div class="container" *ngIf="user">
    <div class="page-header" style="padding-top: 14px;">
        <div class="col-xs-10 col-sm-9 col-md-9 col-lg-9">
            <h3>{{'USER_DETAILS.USER' | translate}} {{user?.username}} </h3>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
            <div class="dropdown pull-right">
				<a style="display: inline-block" class="dropdown-toggle dropdown-lang" aria-expanded="false" aria-haspopup="true"
                   data-toggle="dropdown" href="#" role="button">
					<img alt="language" class="lang-circle-icon" src="{{[getPathToCurrent()]}}"/>
				</a>
				<ul class="dropdown-menu">
					<li *ngFor="let lang of languages" [ngClass]="{'active': lang === user?.selectedLanguage}">
						<a (click)="setLanguage(lang)">
							<img alt="lang flag" class="lang-circle-icon"
                                 src="assets/images/country/{{lang}}_circle.png"/>
							<span>{{lang.toUpperCase()}}</span>
						</a>
					</li>
				</ul>
			</div>
        </div>
    </div>
    <div class="col-xs-12">
        <nmaas-userdetails [user]="user" [mode]="userDetailsMode" [allowedModes]="[ComponentMode.VIEW, ComponentMode.EDIT]" [errorMessage]="errorMessage" (onSave)="onSave($event)" (refresh)="onRefresh()"></nmaas-userdetails>
        <nmaas-userprivileges [user]="user" [mode]="ComponentMode.PROFILVIEW" [allowedModes]="[ComponentMode.PROFILVIEW, ComponentMode.EDIT]"></nmaas-userprivileges>
    </div>
</div>
<nmaas-footer></nmaas-footer>