<nmaas-modal>
	<div class="nmaas-modal-header">{{'INSTALL_MODAL.HEADER' | translate}} {{app?.name}}</div>
	<div class="nmaas-modal-body">
		<div class="form-group">
			<label for="instance_name-{{app?.id}}" class="control-label">{{'INSTALL_MODAL.INSTANCE_NAME' | translate}}</label>
			<input type="text" class="form-control" id="instance_name-{{app?.id}}" name="instance_name" pattern="[a-zA-Z0-9-]*" [(ngModel)]="name" #instance_name="ngModel" minlength="3" maxlength="10" required>
			<div *ngIf="app">
				<label for="selectedVersion" class="control-label">{{'INSTALL_MODAL.SELECT_VERSION' | translate}}</label>
				<select class="form-control" name="selectedVersion" id="selectedVersion" [(ngModel)]="selectedAppVersion" required>
					<option *ngFor="let appVersion of app?.versions" [value]="appVersion.appVersionId">{{appVersion.version}}</option>
				</select>
			</div>
			<div *ngIf="instance_name.invalid && (instance_name.dirty || instance_name.touched)"
				 class="alert alert-danger">
				<div *ngIf="instance_name.errors.pattern">{{'INSTALL_MODAL.INSTANCE_NAME_PATTERN_ERROR' | translate}}</div>
				<div *ngIf="instance_name.errors.minlength || instance_name.errors.maxlength">{{'INSTALL_MODAL.INSTANCE_NAME_LENGTH_ERROR' | translate}}</div>
				<div *ngIf="instance_name.errors.required">{{'INSTALL_MODAL.INSTANCE_NAME_REQUIRED_ERROR' | translate}}</div>
			</div>
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<div style="padding-top: 15px">
				<p><strong>{{'INSTALL_MODAL.DOMAIN' | translate}}: </strong>{{domainName}}</p>
			</div>
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button type="button" class="btn btn-default" (click)="modal.hide()">{{'INSTALL_MODAL.CLOSE_BUTTON' | translate}}</button>
		<button type="button" class="btn btn-primary" (click)="create()" [disabled]="instance_name.invalid">{{'INSTALL_MODAL.DEPLOY_BUTTON' | translate}}</button>
	</div>
</nmaas-modal>
