	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
			<div class="thumbnail" *ngIf="app">
				<img alt="App logo" [src]="(appImagesService.getAppLogoUrl(app?.id) | secure) || 'assets/images/app-logo-example.png'"/>
			</div>
			<div class="thumbnail" *ngIf="!app">
				<img alt="App logo" src="assets/images/app-logo-example.png"/>
			</div>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h2 style="margin-bottom: 4px;">{{app?.name}}</h2>
					<rate [showVotes]="true" [short]="true" [pathUrl]="'/apps/' + app?.id + '/rate'"></rate>
					<div class="text-muted" style="font-size: small;">
						v.{{app?.version}} | <a href="{{app?.licenseUrl}}" target="_blank">{{app?.license}}</a>
						| <a href="{{app?.wwwUrl}}">WWW</a>
						| <a href="{{app?.sourceUrl}}" target="_blank">{{'APP_INSTANCE.SOURCE' | translate}}</a>
						| <a href="{{app?.issuesUrl}}" target="_blank">{{'APP_INSTANCE.ISSUES' | translate}}</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="text-right">

					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="app?.tags">
					<a type="button" *ngFor="let tag of app.tags" class="btn tag-button">
						{{tag | titlecase}}
					</a>
				</div>
			</div>
			<div class="row">
				<div *ngIf="!subscribed && isSubscriptionAllowed() && !app?.deleted" class="btn-group pull-right">
					<button class="btn btn-primary" (click)="subscribe()">{{'APPLICATIONS.SUBSCRIBE_BUTTON' | translate}}</button>
				</div>
				<div *ngIf="subscribed" class="btn-group pull-right">
					<button *ngIf="isDeploymentAllowed()" class="btn btn-primary" (click)="appInstallModal.show()">{{'APPLICATIONS.DEPLOY_BUTTON' | translate}}</button>
					<button *ngIf="isSubscriptionAllowed()" class="btn btn-danger" (click)="unsubscribe()">{{'APPLICATIONS.UNSUBSCRIBE_BUTTON' | translate}}</button>
				</div>

			</div>
		</div>
	</div>

	<div class='row'>
		<h3>{{'SCREENSHOTS.HEADER' | translate}}</h3>
		<hr>
		<screenshots [pathUrl]="'/apps/' + appId + '/screenshots'"></screenshots>
	</div>

	<div class="row">
		<h3>{{'APPLICATIONS.DESCRIPTION' | translate}}</h3>
		<hr>
		<div [innerHTML]="getDescription()?.fullDescription">

		</div>
	</div>

	<hr>

	<div *ngIf="appId" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 block-border">
			<rating-extended name="appRateUpdate" [editable]="true" (onChange)="onRateChanged()" [pathUrl]="'/apps/' + appId + '/rate/my'"></rating-extended>
		</div>
	</div>

	<comments [pathUrl]="'/apps/' + appId + '/comments'"></comments>


	<nmaas-modal-app-install [app]="app">
	</nmaas-modal-app-install>
