.tag-button{
    background-color: white;
    border: solid lightgray 1px;
    color: gray;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    border-radius: 12px;
    cursor: default;
}

.block-light-gray{
    background-image: linear-gradient(rgba(211, 211, 211, 0.1),rgba(211, 211, 211, 0.1));
    color: black;
    margin-left: 10px;
}

.block-border{
    border-radius: 8px;
}

hr{
    margin-bottom: 8px;
    margin-top: 8px;
}

.no-padding{
    padding: 0;
    border: 0;
}

.first-button-substitute{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.disabled-url {
    pointer-events: none;
    cursor: default!important;
    color: gray;
}
