
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
			<div class="thumbnail">
				<img [src]="appImagesService.getAppLogoUrl(app?.id) | secure" onError="this.src='assets/images/app-logo-example.png'"/>
			</div>
		</div>
		<div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<h2>{{app?.name}}</h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default">WWW</button>
						<button type="button" class="btn btn-default">Source</button>
						<button type="button" class="btn btn-default">Issues</button>
					</div>

				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">Version:
					{{app?.version}}</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">License:
					{{app?.license}}</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					{{app?.tags}}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<p>
						<span>Rating:</span>
						<rate name="appRate" [pathUrl]="'/apps/' + id + '/rate'"></rate>
					</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<p>
						<span>My rating:</span>
						<rate name="myAppRate" [editable]="true" (onChange)="onRateChanged()" [pathUrl]="'/apps/' + id + '/rate/my'"></rate>
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="btn-group pull-right">
						<button class="btn btn-primary" (click)="appInstallModal.show()">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class='row'>
		<h3>Screenshots</h3>
		<hr>
		<screenshots [pathUrl]="'/apps/' + id + '/screenshots'"></screenshots>
	</div>

	<div class="row">
		<h3>Description</h3>
		<hr>
		{{app?.fullDescription}}
	</div>
	<hr>

	<comments [pathUrl]="'/apps/' + id + '/comments'"></comments>


	<nmaas-appInstallModal [app]="app">
	</nmaas-appInstallModal>

</div>
