<div class="row">
    <h3>Monitor service details</h3>
    <form *ngIf="monitorEntry" (submit)="submit()" class="form-horizontal" #monitorForm="ngForm">
        <div class="form-group">
            <label for="serviceName" class="col-sm-2 control-label">Service name:</label>
            <div class="col-sm-10">
                <select *ngIf="isInMode(ComponentMode.CREATE)" class="form-control" id="serviceName" name="serviceName" [(ngModel)]="monitorEntry.serviceName" required>
                    <option *ngFor="let service of keys(services)" [value]="service">{{services[service]}}</option>
                </select>
                <p class="control-label" style="float: left" *ngIf="!isInMode(ComponentMode.CREATE)">{{services[monitorEntry.serviceName]}}</p>
            </div>
        </div>

        <div class="form-group">
            <label for="checkInterval" class="col-sm-2 control-label">Interval:</label>
            <div class="col-sm-10">
                <div class="col-sm-6">
                    <input type="number" class="form-control no-spin" [disabled]="isInMode(ComponentMode.VIEW)" id="checkInterval"
                           name="checkInterval" [(ngModel)]="monitorEntry.checkInterval" #interval="ngModel" required/>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="timeFormat" name="timeFormat" [(ngModel)]="monitorEntry.timeFormat"
                            [disabled]="isInMode(ComponentMode.VIEW)" required [selectedIndex]="monitorEntry.timeFormat" [ngModelOptions]="{standalone: true}" #timeFormat="ngModel">
                        <option *ngFor="let format of formats | keys" [value]="format.key">{{format.value.toLocaleLowerCase()}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div *ngIf="interval.invalid && (interval.dirty || interval.touched)" class="alert alert-danger">
                    <div *ngIf="interval.errors.required">Interval is required</div>
                </div>
            </div>
            <div class="col-sm-12">
                <div *ngIf="timeFormat.invalid && (timeFormat.dirty || timeFormat.touched)" class="alert alert-danger">
                    <div *ngIf="timeFormat.errors.required">Time format is required</div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="errMsg">
            {{errMsg}}
        </div>
        <button *ngIf="!isInMode(ComponentMode.VIEW)" [disabled]="!monitorForm.form.valid" type="submit"
                class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" [routerLink]="['/admin/monitor']">Go back</button>
    </form>
    <div *ngIf="!monitorEntry">Not found.</div>
</div>