<div class="col-sm-12 col-sm-12 col-md-12">
    <h3>{{'MONITOR_DETAILS.HEADER' | translate}}</h3>
    <form *ngIf="monitorEntry" (submit)="submit()" class="form-horizontal" #monitorForm="ngForm">
        <div class="form-group">
            <label for="serviceName" class="col-sm-2 control-label">{{'MONITOR_DETAILS.SERVICE_NAME' | translate}}:</label>
            <div class="col-sm-10">
                <p class="control-label" id="serviceName" style="float: left" >{{services[monitorEntry.serviceName]}}</p>
            </div>
        </div>

        <div class="form-group">
            <label for="checkInterval" class="col-sm-2 control-label">{{'MONITOR_DETAILS.INTERVAL' | translate}}:</label>
            <div class="col-sm-10">
                <div class="col-sm-6">
                    <input type="number" class="form-control no-spin" [disabled]="isInMode(ComponentMode.VIEW)" id="checkInterval"
                           name="checkInterval" [(ngModel)]="monitorEntry.checkInterval" #interval="ngModel" required/>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="timeFormat" name="timeFormat" [(ngModel)]="monitorEntry.timeFormat"
                            [disabled]="isInMode(ComponentMode.VIEW)" required [selectedIndex]="monitorEntry.timeFormat" [ngModelOptions]="{standalone: true}" #timeFormat="ngModel">
                        <option *ngFor="let format of formats | keys" [value]="format.key">{{format.value.toLocaleLowerCase()}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div *ngIf="interval.invalid && (interval.dirty || interval.touched)" class="alert alert-danger">
                    <div *ngIf="interval.errors.required">{{'MONITOR_DETAILS.INTERVAL_REQUIRED_ERROR' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-12">
                <div *ngIf="timeFormat.invalid && (timeFormat.dirty || timeFormat.touched)" class="alert alert-danger">
                    <div *ngIf="timeFormat.errors.required">{{'MONITOR_DETAILS.TIME_FORMAT_REQUIRED_ERROR' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="errMsg">
            {{errMsg}}
        </div>
        <button *ngIf="!isInMode(ComponentMode.VIEW)" [disabled]="!monitorForm.form.valid" type="submit"
                class="btn btn-primary">{{'MONITOR_DETAILS.SUBMIT_BUTTON' | translate}}</button>
        <button type="button" class="btn btn-danger" [routerLink]="['/admin/monitor']">{{'MONITOR_DETAILS.GO_BACK_BUTTON' | translate}}</button>
    </form>
    <div *ngIf="!monitorEntry">{{'MONITOR_DETAILS.NOT_FOUND_ERROR' | translate}}</div>
</div>