<div class="panel panel-default">
	<div class="panel-heading">Information</div>
	<div class="panel-body">
		<form *ngIf="!isInMode(ComponentMode.CREATE) && user"
			(submit)="submit()"
			class="form-horizontal">

			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username:</label>	
				<div class="col-sm-10">			
					<input type="text" class="form-control" id="username"
						name="username" [(ngModel)]="user.username"
						[disabled]="isInMode(ComponentMode.VIEW) || isInMode(ComponentMode.PROFILVIEW)">
				</div>				
			</div>

			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">Firstname:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="firstname"
						name="firstname" [(ngModel)]="user.firstname"
						[disabled]="isInMode(ComponentMode.VIEW) || isInMode(ComponentMode.PROFILVIEW)">
				</div>
			</div>

			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label">Lastname:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="lastname"
						name="lastname" [(ngModel)]="user.lastname"
						[disabled]="isInMode(ComponentMode.VIEW) || isInMode(ComponentMode.PROFILVIEW)">
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="email" name="email"
						[(ngModel)]="user.email" [disabled]="isInMode(ComponentMode.VIEW) || isInMode(ComponentMode.PROFILVIEW)">
				</div>
			</div>

			<div *ngIf="user?.id && !isInMode(ComponentMode.PROFILVIEW) && authService.hasRole('ROLE_SUPERADMIN')" class="form-group">
				<label class="col-sm-2 control-label">Id in db:</label>
				<div class="col-sm-10">
					<p class="form-control-static">{{user?.id}}</p>
				</div>
			</div>

			<button *ngIf="!isInMode(ComponentMode.VIEW) && !isInMode(ComponentMode.PROFILVIEW)" type="button"
				class="btn btn-default" (click)="onModeChange()">View</button>
			<button *ngIf="!isInMode(ComponentMode.VIEW) && !isInMode(ComponentMode.PROFILVIEW)" type="submit"
				class="btn btn-danger">Submit</button>
			<button
				*ngIf="isInMode(ComponentMode.VIEW) && isModeAllowed(ComponentMode.EDIT)"
				type="button" class="btn btn-default" (click)="onModeChange()">Edit</button>
		</form>

		<form *ngIf="isInMode(ComponentMode.CREATE)" (submit)="submit()"
			class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="username"
						name="username" [(ngModel)]="user.username">
				</div>
			</div>
			<button type="submit" class="btn btn-danger">Create</button>
		</form>
	</div>
</div>
