.no-spin, .no-spin:hover, no-spin:focus {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

#app-progress-info{
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

#app-progress-info-sub{
    text-align: justify;
    padding: 10px 10px 10px 10px;
    font-style: italic;
}

.app-progress-info-hidden{
    visibility: hidden;
}

.app-progress-info-visible{
    visibility: visible;
}