<div class="container" *ngIf="appInstance">
    <div class="row">
        <!-- App logo -->
        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <div class="thumbnail" *ngIf="app">
                <img alt="App logo"
                     [src]="(appImagesService.getAppLogoUrl(app?.applicationBase.id) | secure) || 'assets/images/app-logo-example.png'"/>
            </div>
            <div class="thumbnail" *ngIf="!app">
                <img alt="App logo" src="assets/images/app-logo-example.png"/>
            </div>
        </div>
        <!-- App information-->
        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2 style="margin-bottom: 4px;">{{appInstance?.name}} ({{app?.applicationBase.name}})</h2>
                    <rate *ngIf="app?.applicationBase.id" [showVotes]="true" [short]="true" [pathUrl]="getPathUrl(app?.applicationBase.id)"></rate>
                    <div class="text-muted" style="font-size: small;">
                        {{app?.application.version ? 'v.' + app?.application.version : 'None'}}
                        |
                        <span tooltip="{{'APPLICATIONS.TOOLTIP_MESSAGE_NOT_AVAILABLE' | translate}}" [options]="defaultTooltipOptions" [display]="!app?.applicationBase.licenseUrl">
							<a class="{{app?.applicationBase.licenseUrl ? '' : 'disabled-url'}}" [href]="app?.applicationBase.licenseUrl" target="_blank">{{app?.applicationBase.license || 'License'}}</a>
						</span>
                        |
                        <span tooltip="{{'APPLICATIONS.TOOLTIP_MESSAGE_NOT_AVAILABLE' | translate}}" [options]="defaultTooltipOptions" [display]="!app?.applicationBase.wwwUrl">
							<a class="{{app?.applicationBase.wwwUrl ? '' : 'disabled-url'}}" [href]="app?.applicationBase.wwwUrl">WWW</a>
						</span>
                        |
                        <span tooltip="{{'APPLICATIONS.TOOLTIP_MESSAGE_NOT_AVAILABLE' | translate}}" [options]="defaultTooltipOptions" [display]="!app?.applicationBase.sourceUrl">
							<a class="{{app?.applicationBase.sourceUrl ? '' : 'disabled-url'}}" [href]="app?.applicationBase.sourceUrl" target="_blank">{{'APP_INSTANCE.SOURCE' | translate}}</a>
						</span>
                        |
                        <span tooltip="{{'APPLICATIONS.TOOLTIP_MESSAGE_NOT_AVAILABLE' | translate}}" [options]="defaultTooltipOptions" [display]="!app?.applicationBase.issuesUrl">
							<a class="{{app?.applicationBase.issuesUrl ? '' : 'disabled-url'}}" [href]="app?.applicationBase.issuesUrl" target="_blank">{{'APP_INSTANCE.ISSUES' | translate}}</a>
						</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!-- Tags -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="app?.applicationBase.tags">
                    <a *ngFor="let tag of app.applicationBase.tags" class="tag-button">
                        {{tag.name | titlecase}}
                    </a>
                </div>

                <!-- Deployment buttons -->

                <!-- if application is still being deployed -->
                <div class="btn-group pull-right"
                     *ngIf="getStateAsEnum(appInstanceStatus?.state) != AppInstanceState.FAILURE
                         && getStateAsEnum(appInstanceStatus?.state) != AppInstanceState.RUNNING
                         && getStateAsEnum(appInstanceStatus?.state) != AppInstanceState.REMOVED
                         && getStateAsEnum(appInstanceStatus?.state) != AppInstanceState.DONE">
                    <button class="btn btn-danger"
                            *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                            (click)="this.appAbortModal.show()">{{'APP_INSTANCE.ABORT_BUTTON' | translate}}</button>
                    <button class="btn btn-default" (click)="this.addMembersModal.show()" *ngIf="canDisplayAddMembersModal()">
                        {{'APP_INSTANCE.ADD_MEMBERS_BUTTON' | translate}}
                    </button>
                </div>

                <!-- if application is already running -->
                <div *ngIf="appInstance" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="btn-group pull-right" *ngIf="getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.RUNNING">
                        <a *ngIf="shouldDisplayButton()"
                           href="{{validateURL(appInstance?.serviceAccessMethods[0].url)}}"
                           class = "btn btn-success" role = "button">
                            {{'APP_INSTANCE.GO_TO_APP_BUTTON' | translate}}
                        </a>
                        <div class="btn-group" *ngIf="shouldDisplayModal()">
                            <button class="btn btn-success" role="button" (click)="this.accessMethodsModal.show()">
                                {{'APP_INSTANCE.APP_ACCESS_METHODS' | translate}}
                            </button>
                        </div>
                        <div class="btn-group" *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']">
                            <button class="btn btn-default" *ngIf="app.application.appConfigurationSpec.configUpdateEnabled"
                                    (click)="getConfigurationModal()">{{'APP_INSTANCE.UPDATE_CONFIG_BUTTON' | translate}}</button>
                        </div>
                        <!-- if only one pod available, select it by default -->
                        <a *ngIf="app.application.appDeploymentSpec.allowSshAccess && podNames.length == 1"
                           [routerLink]="router.url + '/shell/' + podNames[0].name" class="btn btn-default" role="button">
                            {{'APP_INSTANCE.SHELL' | translate}}
                        </a>
                        <!-- if more pods available, go dropdown -->
                        <div class="btn-group" *ngIf="app.application.appDeploymentSpec.allowSshAccess && podNames.length > 1">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{'APP_INSTANCE.SHELL' | translate}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let podName of podNames">
                                    <a [routerLink]="router.url + '/shell/' + podName.name">{{podName.displayName}}</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-default" (click)="this.addMembersModal.show()" *ngIf="canDisplayAddMembersModal()">
                            {{'APP_INSTANCE.ADD_MEMBERS_BUTTON' | translate}}
                        </button>
                        <button class="btn btn-primary" style="display: none" (click)="this.appRestartModal.show()"
                                *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                                disabled>{{'APP_INSTANCE.RESTART_BUTTON' | translate}}</button>
                        <button class="btn btn-danger"
                                *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                                (click)="this.undeployModal.show()">{{'APP_INSTANCE.UNDEPLOY_BUTTON' | translate}}</button>
                    </div>

                    <!-- if application deployment failed -->
                    <div class="btn-group pull-right" *ngIf="getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.FAILURE">
                        <button class="btn btn-primary"
                                *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                                (click)="redeploy()">{{'APP_INSTANCE.REDEPLOY_BUTTON' | translate}}</button>
                        <button class="btn btn-default"
                                *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                                (click)="checkStatus()">{{'APP_INSTANCE.CHECK_STATUS_BUTTON' | translate}}</button>
                        <button class="btn btn-primary btn-danger"
                                *roles="['ROLE_DOMAIN_ADMIN', 'ROLE_SYSTEM_ADMIN']"
                                (click)="removalFailed()">{{'APP_INSTANCE.REMOVE_BUTTON' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Undeploy modal-->
    <!-- TODO should be moved to separate component-->
    <nmaas-modal styleModal="warning">
        <div class="nmaas-modal-header">
            <h4 style="text-align: center">{{'UNDEPLOY_MODAL.HEADER' | translate}}</h4>
        </div>
        <div class="nmaas-modal-body">
            <div class="form-group">
                <p>{{'UNDEPLOY_MODAL.BODY' | translate}}</p>
            </div>
        </div>
        <div class="nmaas-modal-footer">
            <button type="button" class="btn btn-danger"
                    (click)="this.undeploy()">{{'UNDEPLOY_MODAL.YES_BUTTON' | translate}}</button>
            <button type="button" class="btn btn-primary"
                    (click)="this.undeployModal.hide()">{{'UNDEPLOY_MODAL.CANCEL_BUTTON' | translate}}</button>
        </div>
    </nmaas-modal>

    <!-- Update config modal -->
    <!-- TODO should be moved to separate component-->
    <nmaas-modal styleModal="info" #updateConfig>
        <div class="nmaas-modal-header">
            <h4>{{'UPDATE_CONFIG_MODAL.HEADER' | translate}}</h4>
        </div>
        <div class="nmaas-modal-body" style="height: 30%; min-width: 30vw; max-height: 45vh;overflow-y: auto;">
            <div>
                <p>{{'UPDATE_CONFIG_MODAL.CLONE_LABEL' | translate}}</p>
                <label style="min-width: 100%;">
                    <input type="text" style="min-width: 100%;" disabled value="git clone ssh://{{appInstance.appConfigRepositoryAccessDetails?.cloneUrl}}"/>
                </label>
            </div>
        </div>
        <div class="nmaas-modal-footer">
            <button type="button" class="btn btn-primary"
                    (click)="this.closeConfigurationModal()">{{'UPDATE_CONFIG_MODAL.CONFIRM_BUTTON' | translate}}</button>
        </div>
    </nmaas-modal>

    <!-- Progress bar -->
    <div class='row'>
        <h3>{{'APP_INSTANCE.INSTALLATION_PROGRESS.HEADER' | translate}}</h3>
        <hr>
        <div id="app-prop" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow-x: auto;">
            <nmaas-appinstanceprogress [stages]='getStages()'
                                       [activeState]="getStateAsEnum(appInstanceStatus?.state)"></nmaas-appinstanceprogress>
        </div>
        <div id="app-progress-info" class="col-xs-12">
            <div id="app-progress-info-sub alert"
                 [ngClass]="{
				 'alert-danger': getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.FAILURE || getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.UNKNOWN,
				 'other-states': getStateAsEnum(appInstanceStatus?.state) !== AppInstanceState.FAILURE && getStateAsEnum(appInstanceStatus?.state) !== AppInstanceState.UNKNOWN }"
                 class="col-xs-offset-1 col-xs-10">
				<span *ngIf="getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.FAILURE">
					{{'APP_INSTANCE.INSTALLATION_PROGRESS.DEFAULT_ERROR_MESSAGE' | translate}}
				</span>
                <span *ngIf="getStateAsEnum(appInstanceStatus?.state) !== AppInstanceState.FAILURE && getStateAsEnum(appInstanceStatus?.state) !== AppInstanceState.UNKNOWN">
					{{  'APP_INSTANCE.USER_FRIENDLY.' + getStateAsString(appInstanceStatus?.state) | translate }}
				</span>
            </div>
        </div>
    </div>

    <!-- Apply configuration -->
    <div class="row" [ngClass]="{
            'collapse': storage.has('appConfig_' + appInstanceId.toString())
			|| getStateAsEnum(appInstanceStatus?.state) === undefined
			|| getStateAsEnum(appInstanceStatus?.state) === AppInstanceState.REMOVED
			|| getStateAsEnum(appInstanceStatus?.state) > AppInstanceState.CONFIGURATION_AWAITING
			}">
        <div class="col-xs-12">
            <h3>{{'APP_INSTANCE.CONFIGURATION.HEADER' | translate}}</h3>
            <p *ngIf="appInstance !== undefined && configurationTemplate !== undefined && app?.applicationBase.nmaasDocumentationUrl">
                {{ 'APP_INSTANCE.CONFIGURATION.DOCUMENTATION_INFO' | translate }}
                <a href="{{app.applicationBase.nmaasDocumentationUrl}}">{{ 'APP_INSTANCE.CONFIGURATION.NMAAS_TOOLS' | translate}}</a>.
            </p>
            <hr>
            <formio *ngIf="appInstance !== undefined && configurationTemplate !== undefined"
                    [form]="configurationTemplate"
                    [options]='{"alerts": {"submitMessage": "Configuration applied"}, "errors": {"message": "Invalid configuration"}}'
                    [refresh]="refreshForm"
                    (formLoad)="changeForm()"
                    (submit)="applyConfiguration($event.data)">
            </formio>
        </div>
    </div>

    <!-- App Instance State History table -->
    <div class="row" *ngIf="this.appInstanceStateHistory">
        <h3>{{'APP_INSTANCE.DEPLOYMENT_HISTORY.HEADER' | translate}}</h3>
        <hr>
        <table class="table table-hover table-condensed" aria-describedby="App instance deployment history table">
            <thead>
            <tr>
                <th scope="col">{{'APP_INSTANCE.DEPLOYMENT_HISTORY.TIMESTAMP' | translate}}</th>
                <th scope="col">{{'APP_INSTANCE.DEPLOYMENT_HISTORY.STATE_TRANSITIONS' | translate}}</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-history
                         [ngForOf]="this.appInstanceStateHistory | paginate: { itemsPerPage: maxItemsOnPage, currentPage: pageNumber, id: p_first }"
                         let-isLast="last">
                <tr>
                    <td>{{history.timestamp | localDate:'medium' }}</td>
                    <td *ngIf="history.previousState !== null">
                        {{history.previousState | translate }}
                        <span class="glyphicon glyphicon-arrow-right"
                              style="padding-left: 5px;padding-right: 5px"></span>
                        {{history.currentState | translate }}
                    </td>
                    <td *ngIf="history.previousState === null">{{history.currentState | translate }}</td>
                </tr>
            </ng-template>
            </tbody>
        </table>
        <pagination-controls class="text-right" (pageChange)="pageNumber = $event" id="{{ p_first }}"
                             previousLabel="{{ 'PAGINATION.PREVIOUS' | translate }}"
                             nextLabel="{{ 'PAGINATION.NEXT' | translate }}"
                             screenReaderPaginationLabel="{{ 'PAGINATION.SCREEN_READER.PAGINATION' | translate }}"
                             screenReaderPageLabel="{{ 'PAGINATION.SCREEN_READER.PAGE' | translate }}"
                             screenReaderCurrentLabel="{{ 'PAGINATION.SCREEN_READER.CURRENT' | translate }}"></pagination-controls>
    </div>
    <hr>

    <!-- App abort modal -->
    <nmaas-modal-app-abort [appInstanceId]="appInstanceId"></nmaas-modal-app-abort>

    <!-- App restart modal -->
    <nmaas-modal-app-restart [appInstanceId]="appInstanceId"
                             [domainId]="appInstance?.domainId"></nmaas-modal-app-restart>

    <!-- App access methods modal -->
    <app-access-methods-modal *ngIf="appInstance?.serviceAccessMethods" [accessMethods]="appInstance?.serviceAccessMethods"></app-access-methods-modal>

    <!-- Add members modal -->
    <app-add-members-modal *ngIf="appInstance" [appInstance]="appInstance"></app-add-members-modal>

</div>
