.no-spin, .no-spin:hover, .no-spin:focus {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

#app-progress-info{
    padding: 10px 10px 10px 10px;
}

#app-progress-info-sub{
    padding: 10px 10px 10px 10px;
    font-style: italic;
}

.app-progress-info-hidden{
    visibility: hidden;
}

.app-progress-info-visible{
    visibility: visible;
}

.other-states{
    padding:15px;
    margin-bottom:20px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    text-align: center;
}

.alert-danger{
    padding:15px;
    margin-bottom:20px;
    text-align: center;
    border-bottom: 1px solid #a94442;
    border-top: 1px solid #a94442;
    border-radius: 0;
    background-color: #FFFFFF;
    background-image: none;
}

.h-100 {
    height: 100%;
}

.flex-stretch {
    display: flex;
    align-items: stretch;
}

.container-bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.info-icon{
    width: 20px;
    height: 20px;
    font-size: 20px;
}
