<div class="panel panel-default">
    <div class="panel-heading">Host address</div>
    <div class="panel-body">
        <form *ngIf="hostAddress" (submit)="submit()" class="form-horizontal">
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address"
                           [(ngModel)]="hostAddress.address" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="hostAddress" class="col-sm-2 control-label">Host address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="hostAddress" name="hostAddress"
                           [(ngModel)]="hostAddress.hostAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="hostname" class="col-sm-2 control-label">Hostname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="hostname" name="hostname"
                           [(ngModel)]="hostAddress.hostName" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="canonicalHostname" class="col-sm-2 control-label">Canonical hostname:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="canonicalHostname" name="canonicalHostname"
                           [(ngModel)]="hostAddress.canonicalHostName" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="anyLocalAddress" class="col-sm-2 control-label">Any local address:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="anyLocalAddress" name="anyLocalAddress"
                           [(ngModel)]="hostAddress.anyLocalAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="linkLocalAddress" class="col-sm-2 control-label">Link local address:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="linkLocalAddress" name="linkLocalAddress"
                           [(ngModel)]="hostAddress.linkLocalAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="loopbackAddress" class="col-sm-2 control-label">Loopback address:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="loopbackAddress" name="loopbackAddress"
                           [(ngModel)]="hostAddress.loopbackAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="mcglobal" class="col-sm-2 control-label">mcGlobal:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="mcglobal" name="mcglobal"
                           [(ngModel)]="hostAddress.mcglobal" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="mclinklocal" class="col-sm-2 control-label">mcLinkLocal:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="mclinklocal" name="mclinklocal"
                           [(ngModel)]="hostAddress.mclinkLocal" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="mcnodelocal" class="col-sm-2 control-label">mcNodeLocal:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="mcnodelocal" name="mcnodelocal"
                           [(ngModel)]="hostAddress.mcnodeLocal" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="mcorglocal" class="col-sm-2 control-label">mcOrgLocal:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="mcorglocal" name="mcorglocal"
                           [(ngModel)]="hostAddress.mcorgLocal" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="mcsitelocal" class="col-sm-2 control-label">mcSiteLocal:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="mcsitelocal" name="mcsitelocal"
                           [(ngModel)]="hostAddress.mcsiteLocal" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="multicastAddress" class="col-sm-2 control-label">Multicast address:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="multicastAddress" name="multicastAddress"
                           [(ngModel)]="hostAddress.multicastAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <div class="form-group">
                <label for="siteLocalAddress" class="col-sm-2 control-label">Site local address:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="siteLocalAddress" name="siteLocalAddress"
                           [(ngModel)]="hostAddress.siteLocalAddress" [disabled]="isInMode(ComponentMode.VIEW)">
                </div>
            </div>

            <button *ngIf="!isInMode(ComponentMode.VIEW) && !isInMode(ComponentMode.PROFILVIEW)" type="button"
                    class="btn btn-default" (click)="onModeChange()">View</button>
            <button *ngIf="!isInMode(ComponentMode.VIEW) && !isInMode(ComponentMode.PROFILVIEW)" type="submit"
                    class="btn btn-danger">Submit</button>
            <button *ngIf="isInMode(ComponentMode.VIEW) && isModeAllowed(ComponentMode.EDIT)"
                    type="button" class="btn btn-default" (click)="onModeChange()">Edit</button>
        </form>
    </div>
</div>
