<nmaas-modal>
	<div class="nmaas-modal-header">Deploy new instance of {{app?.name}}</div>
	<div class="nmaas-modal-body">
		<div class="form-group">
			<label for="instance_name" class="control-label">Instance name</label>
			<input type="text" class="form-control" id="instance_name" name="instance_name" pattern="[a-zA-Z0-9_-]*" [(ngModel)]="this.name" #instance_name="ngModel" minlength="3" maxlength="10" required>
			<div *ngIf="instance_name.invalid && (instance_name.dirty || instance_name.touched)"
				 class="alert alert-danger">
				<div *ngIf="instance_name.errors.pattern">Instance name must only contain a-z, A-Z, 0_9, _ and - characters.</div>
				<div *ngIf="instance_name.errors.minlength || instance_name.errors.maxlength">Instance name has to be 3-10 characters long.</div>
				<div *ngIf="instance_name.errors.required">Instance name is required.</div>
			</div>
			<div *ngIf="error" class="alert alert-danger">{{error}}</div>
			<label class="control-label">Domain: </label>
			<div>
				<p class="form-control-static">{{domainName}}</p>
			</div>
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
		<button type="button" class="btn btn-primary" (click)="create()">Deploy</button>
	</div>
<nmaas-modal>