<div class="panel panel-default">
  <div class="panel-heading">{{ 'SAML_PROXY.TITLE' | translate }}</div>
  <div class="panel-body">
    <form *ngIf="shibbolethConfig" (submit)="submit()" class="form-horizontal" #configForm="ngForm">

      <div class="form-group">
        <label for="loginUrl" class="col-sm-2 control-label">{{ 'SAML_PROXY.LOGIN_URL' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="loginUrl" name="loginUrl" required #loginUrl="ngModel"
                 [(ngModel)]="shibbolethConfig.loginUrl" [disabled]="isInMode(ComponentMode.VIEW)"/>
          <div class="alert alert-danger" *ngIf="loginUrl.invalid && (loginUrl.dirty || loginUrl.touched)">
            <div *ngIf="loginUrl.errors.required">{{ 'SAML_PROXY.LOGIN_URL_REQUIRED_MESSAGE' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="logoutUrl" class="col-sm-2 control-label">{{ 'SAML_PROXY.LOGOUT_URL' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="logoutUrl" name="logoutUrl" required #logoutUrl="ngModel"
                 [(ngModel)]="shibbolethConfig.logoutUrl" [disabled]="isInMode(ComponentMode.VIEW)"/>
          <div class="alert alert-danger" *ngIf="logoutUrl.invalid && (logoutUrl.dirty || logoutUrl.touched)">
            <div *ngIf="logoutUrl.errors.required">{{ 'SAML_PROXY.LOGOUT_URL_REQUIRED_MESSAGE' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="SSOKey" class="col-sm-2 control-label">{{ 'SAML_PROXY.SSO_KEY_FILE_PATH' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="SSOKey" name="SSOKey" [(ngModel)]="shibbolethConfig.keyFilePath"
                 [disabled]="isInMode(ComponentMode.VIEW)" required #ssoKey="ngModel"/>
          <div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>
          <div class="alert alert-danger" *ngIf="ssoKey.invalid && (ssoKey.dirty || ssoKey.touched)">
            <div *ngIf="ssoKey.errors.required">{{ 'SAML_PROXY.SSO_KEY_REQUIRED_MESSAGE' | translate }}</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="timeout" class="col-sm-2 control-label">{{ 'SAML_PROXY.TIMEOUT' | translate }}</label>
        <div class="col-sm-10">
          <input type="number" class="form-control no-spin" id="timeout" name="timeout" [(ngModel)]="shibbolethConfig.timeout"
                 [disabled]="isInMode(ComponentMode.VIEW)" required #timeout="ngModel"/>
          <div class="alert alert-danger" *ngIf="timeout.invalid && (timeout.dirty || timeout.touched)">
            <div *ngIf="timeout.errors.required">{{ 'SAML_PROXY.TIMEOUT_REQUIRED_MESSAGE' | translate }}</div>
          </div>
        </div>
      </div>

      <button *ngIf="!isInMode(ComponentMode.VIEW) && !isInMode(ComponentMode.CREATE)" type="button"
              class="btn btn-default" (click)="onModeChange()">{{ 'SAML_PROXY.VIEW_BUTTON' | translate }}</button>
      <button *ngIf="!isInMode(ComponentMode.VIEW)" type="submit"
              class="btn btn-primary" [disabled]="!configForm.form.valid">{{ 'SAML_PROXY.SUBMIT_BUTTON' | translate }}</button>
      <button *ngIf="isInMode(ComponentMode.VIEW) && isModeAllowed(ComponentMode.EDIT)"
              type="button" class="btn btn-default" (click)="onModeChange()">{{ 'SAML_PROXY.EDIT_BUTTON' | translate }}</button>

    </form>
  </div>
</div>
