.nmaas-blue{
    color: rgb(51, 122, 183)
}

.comment-text-lg{
    font-size: 16px;
}

.comment-text-md{
    font-size: 14px;
}

.comment-text-sm{
    font-size: 12px;
}

.fa-user-comment{
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    color: rgb(51, 122, 183);
    font-size: 24px;
}

.profile-container{
    padding-right: 0 !important;
}