<div class="col-xs-12" [ngClass]="{'col-xs-offset-1 col-xs-11': parentId != null}">
  <div class="row">
    <div class="col-xs-2 col-sm-1 text-right profile-container">
      <div class="profile-container">
        <i class="fas fa-user fa-user-comment"></i>
      </div>
    </div>
    <div class="col-xs-6 col-sm-8">
      <p><strong class="comment-text-lg">{{ commentAuthor }}</strong><br>
        <span class="text-muted">{{ getParsedCommentDate() }}</span></p>
    </div>
    <div class="col-xs-4 col-sm-3">
      <p class="text-right nmaas-blue comment-text-md">
        <a *ngIf="authService.hasRole('ROLE_SYSTEM_ADMIN') || authService.getUsername() === commentAuthor"
           (click)="deleteComment(commentId)">
          Remove comment</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-2 col-sm-offset-1 col-xs-10 col-sm-11">
      <p class="comment-text-md" [innerHTML]=commentText>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-2 col-sm-offset-1 col-xs-10 col-sm-11">
      <p><strong class="nmaas-blue comment-text-md">
        <a (click)="changeReplyBoxVisibility()" >
        {{'COMMENTS.REPLY_BUTTON' | translate}}
      </a></strong></p>
    </div>
  </div>
  <div class="col-xs-offset-1 col-xs-11" *ngIf="replyBoxVisible">
    <form role="form" (ngSubmit)="this.addReplyToComment(commentId, textAreaComment.value)">
      <div class="form-group">
        <textarea #textAreaComment name="comment" id="comment2" placeholder="{{'COMMENTS.PLACEHOLDER' | translate}}"
                  class="form-control" rows="2"></textarea>
        <button type="submit" class="btn btn-default pull-right">{{'COMMENTS.ADD_BUTTON' | translate}}</button>
      </div>
    </form>
  </div>
</div>