.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

tr.clickable {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.entry-success {
    background-color: #99ff99;
}

.entry-failure {
    background-color: #FF6651;
}

.entry-deactivated {
    background-color: #7f7f7f;
}

.entry-unknown {
}
