<div class="col-sm-12 col-sm-offset-1 col-sm 10 col-md-offset-1 col-md-10">
  <h3>{{'APPS_MANAGEMENT.TITLE'| translate}}</h3>
  <button [routerLink]="['/management/apps/create']" class="btn btn-primary">{{ 'APPS_MANAGEMENT.ADD_BUTTON' | translate }}</button>
  <hr>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#approved">{{ 'APPS_MANAGEMENT.APPROVED_TAB' | translate }}</a></li>
    <li><a data-toggle="tab" href="#rejected">{{ 'APPS_MANAGEMENT.REJECTED_TAB' | translate }}</a></li>
    <li *ngIf="authService.hasRole('ROLE_SYSTEM_ADMIN')"><a data-toggle="tab" href="#new">{{ 'APPS_MANAGEMENT.NEW_TAB' | translate }}</a></li>
  </ul>

  <div class="tab-content">
    <div id="approved" class="tab-pane fade in active">
      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{'APPS_MANAGEMENT.NAME' | translate}}</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <ng-template ngFor let-app [ngForOf]="apps" let-i="index">
          <tr class="table-row" (click)="clickTableRow(app)">
            <td *ngIf="!app.rowWithVersionVisible"><span class="glyphicon glyphicon-chevron-right"></span></td>
            <td *ngIf="app.rowWithVersionVisible"><span class="glyphicon glyphicon-chevron-down"></span></td>
            <td>{{app?.name}}</td>
            <td>&nbsp;</td>
            <td class="text-right">
              <button [routerLink]="['/management/apps/edit', app?.id]" class="btn btn-sm btn-warning">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</button>
              <button [routerLink]="['/management/apps/create/version', app?.name]" class="btn btn-sm btn-success">{{ 'APPS_MANAGEMENT.ADD_NEW_VERSION_BUTTON' | translate }}</button>
            </td>
          </tr>
          <ng-template ngFor let-version [ngForOf]="app.appVersions">
            <tr *ngIf="app.rowWithVersionVisible">
              <td>&nbsp;</td>
              <td>{{version.version}}</td>
              <td>{{getStateAsString(version.state)}}</td>
              <td class="text-right">
                <button [routerLink]="['/management/apps/view', version?.appVersionId]" class="btn btn-sm btn-primary">{{ 'APPS_MANAGEMENT.VIEW_BUTTON' | translate }}</button>
                <button [routerLink]="['/management/apps/edit/version', version?.appVersionId]" class="btn btn-sm btn-warning">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</button>
                <button [disabled]="getStateAsString(version?.state) === 'DELETED'" (click)="showModal(app, version)" class="btn btn-sm btn-danger">{{ 'APPS_MANAGEMENT.CHANGE_STATE_BUTTON' | translate }}</button>
              </td>
            </tr>
          </ng-template>
        </ng-template>
        </tbody>
      </table>
    </div>
    <div id="rejected" class="tab-pane fade">
      <div *ngIf="rejectedApps.length > 0">
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>{{'APPS_MANAGEMENT.NAME' | translate}}</th>
            <th>{{'APPS_MANAGEMENT.STATE' | translate}}</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          <ng-template ngFor let-app [ngForOf]="rejectedApps">
            <tr>
              <td>{{app?.name}}</td>
              <td>{{getStateAsString(app?.state)}}</td>
              <td class="text-right">
                <button [routerLink]="['/management/apps/view', app?.id]" class="btn btn-sm btn-primary">{{ 'APPS_MANAGEMENT.VIEW_BUTTON' | translate }}</button>
                <button [routerLink]="['/management/apps/edit', app?.id]" class="btn btn-sm btn-warning">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</button>
                <button class="btn btn-sm btn-danger">{{ 'APPS_MANAGEMENT.CHANGE_STATE_BUTTON' | translate }}</button>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
      <div *ngIf="rejectedApps.length == 0">
        <h4 class="text-center">{{ 'APPS_MANAGEMENT.NO_REJECTED_APPS_MESSAGE' | translate }}</h4>
      </div>
    </div>

    <div id="new" class="tab-pane fade">
      <div *ngIf="newApps.length > 0">
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>{{'APPS_MANAGEMENT.NAME' | translate}}</th>
            <th>{{'APPS_MANAGEMENT.STATE' | translate}}</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          <ng-template ngFor let-app [ngForOf]="newApps">
            <tr>
              <td>{{app?.name}}</td>
              <td>{{getStateAsString(app?.state)}}</td>
              <td class="text-right">
                <button [routerLink]="['/management/apps/view', app?.id]" class="btn btn-sm btn-primary">{{ 'APPS_MANAGEMENT.VIEW_BUTTON' | translate }}</button>
                <button [routerLink]="['/management/apps/edit', app?.id]" class="btn btn-sm btn-warning">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</button>
                <button class="btn btn-sm btn-danger">{{ 'APPS_MANAGEMENT.CHANGE_STATE_BUTTON' | translate }}</button>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>
      <div *ngIf="newApps.length == 0">
        <h4 class="text-center">{{ 'APPS_MANAGEMENT.NO_NEW_APPS_MESSAGE' | translate }}</h4>
      </div>
    </div>
  </div>

</div>
<app-appchangestatemodal [appName]="selectedAppName" [app]="selectedVersion"></app-appchangestatemodal>