<div class="col-sm-12 col-sm-offset-1 col-sm 10 col-md-offset-1 col-md-10">
  <h3>{{'APPS_MANAGEMENT.TITLE'| translate}}</h3>
  <button [routerLink]="['/admin/apps/create']" class="btn btn-primary">{{ 'APPS_MANAGEMENT.ADD_BUTTON' | translate }}</button>
  <hr>
  <table class="table table-hover table-condensed" aria-describedby="Apps management table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{'APPS_MANAGEMENT.NAME' | translate}}</th>
      <th scope="col" *ngIf="isAnySubtableVisible()">{{'APPS_MANAGEMENT.VERSION' | translate}}</th>
      <th scope="col" *ngIf="isAnySubtableVisible()">{{'APPS_MANAGEMENT.STATE' | translate}}</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <ng-template ngFor let-app [ngForOf]="apps" let-i="index">
      <tr class="table-row" (click)="clickTableRow(app)">
        <td *ngIf="!app.rowWithVersionVisible"><span class="glyphicon glyphicon-chevron-right"></span></td>
        <td *ngIf="app.rowWithVersionVisible"><span class="glyphicon glyphicon-chevron-down"></span></td>
        <td>{{app?.name}}</td>
        <td></td>
        <td></td>
        <td class="text-right">
          <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
              <li>
                <a [routerLink]="['/admin/apps/create/version', app?.name]">{{ 'APPS_MANAGEMENT.ADD_NEW_VERSION_BUTTON' | translate }}</a>
                <a [routerLink]="['/admin/apps/edit', app?.id]">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>
              </li>
            </ul>
          </span>
        </td>
      </tr>
      <ng-template ngFor let-version [ngForOf]="app.appVersions">
        <tr *ngIf="app.rowWithVersionVisible" class="table-row" [routerLink]="['/admin/apps/edit/version', version?.appVersionId]">
          <td></td>
          <td style="width: 10%"></td>
          <td>{{version.version}}</td>
          <td>{{"ENUM.STATE." + getStateAsString(version.state).toUpperCase() | translate }}</td>
          <td class="text-right">
            <a [routerLink]="['/admin/apps/view', version?.appVersionId]">
              <em class="far fa-eye icon-black icon-bigger"></em>
            </a>
            <span class="dropdown">
            <a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
              <em class="fas fa-cog icon-black icon-bigger"></em>
            </a>
            <ul class="dropdown-menu pull-right-drop">
              <li>
                <a (click)="showModal($event, app, version)" *ngIf="getStateAsString(version?.state) !== 'DELETED'">{{ 'APPS_MANAGEMENT.CHANGE_STATE_BUTTON' | translate }}</a>
                <a [routerLink]="['/admin/apps/edit/version', version?.appVersionId]">{{ 'APPS_MANAGEMENT.EDIT_BUTTON' | translate }}</a>
              </li>
            </ul>
          </span>
          </td>
        </tr>
      </ng-template>
    </ng-template>
    </tbody>
  </table>

</div>
<app-appchangestatemodal [appName]="selectedAppName" [app]="selectedVersion"></app-appchangestatemodal>
