.media-carousel .carousel-control.left 
{
  /* left: -12px; */
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 55px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  /* right: -12px !important; */
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 55px;
}

.carousel-inner .item img {
	min-height: 150px;
    max-height: 150px;
}