
<div *ngIf="imagesFileInfo && imagesFileInfo.length > 0" class='col-md-12'>
	<div class="carousel slide media-carousel" id="media">
		<div class="carousel-inner">
			<div class="item"
				*ngFor="let row of imagesFileInfo | group:3; let firstRow = first"
				[ngClass]="{'active': firstRow}">
				<div class="row">
					<div class="col-md-4" *ngFor="let fileInfo of row">
						<a class="thumbnail" (click)="showImage(appsService.getAppScreenshotUrl(pathUrl+'/'+fileInfo.id))">
							<img alt="Screenshot" [src]="(appsService.getAppScreenshotUrl(pathUrl+'/'+fileInfo.id) | secure) || 'assets/images/app-screenshot-example.png'">
						</a>
					</div>
				</div>
			</div>
		</div>

		<a data-slide="prev" href="#media" class="left carousel-control">&lt;</a>
		<a data-slide="next" href="#media" class="right carousel-control">&gt;</a>
	</div>
</div>
<nmaas-modal (click)="modal.hide()">
<div class="nmaas-modal-header">{{'SCREENSHOTS.HEADER' | translate}}</div>
<div class="nmaas-modal-body">
	<img style="max-height: 50vh" alt="Screenshot" [src]="selectedImg | secure">
</div>
<div class="nmaas-modal-footer">
	<button type="button" class="btn btn-default" (click)="modal.hide()">{{'SCREENSHOTS.CLOSE_BUTTON' | translate}}</button>
</div>
</nmaas-modal>
