.media-carousel .carousel-control.left 
{
  /* left: -12px; */
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 55px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  /* right: -12px !important; */
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 55px;
}

.carousel-inner .item img {
	min-height: 150px;
    max-height: 150px;
}

.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.screenshot-modal {
    z-index:1200;
    transition: opacity 0.5s, visibility 0s 0.5s;
    align-items: center;
    justify-content: center;
}

.screenshot-modal-image {
    z-index:1201;
    max-height: 90%;
    max-width: 90%;
}
