.rate-container{
    margin-top: 10px;
}

.fa-star{
    font-size: 24px;
    margin-right: 4px;
}

.fa-star-small{
    font-size: 16px;
    margin-right: 0;
}

.fa-star-button{
    color: gray;
}

.fa-star-button:hover{
    color: rgb(189, 141, 0) !important;
}

.fa-star-checked{
    color: rgb(237, 186, 0) !important;
}

.progress-bar-label{
    float: left;
    margin-right: 1em;
    font-size: 16px;
}

.progress-bar-after-label{
    float: right;
    margin-left: .5em;
    font-size: 16px;
}

.progress-bar-container{
    margin-top: 2px;
    margin-bottom: 2px;
}

.progress{
    margin-bottom: 10px;
}