
<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 login-vertical-offset">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 panel panel-default" style="height: calc(100vh - 135px);">
				<div class="panel-heading text-center" style="background: none">
					<img src="assets/images/NMaaSMarket.png" style="width: 55%">
				</div>
				<div class="panel-body">
					<img src="assets/images/NMaasMarketApps.jpg" style="height: 170px; float:left">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
				</div>
				<div class="panel-footer" style="background: none">
					<img src="assets/images/geant-logo-small.png">
					<h2 class="panel-title">NMaaS AppMarket</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<!-- <div class="text-center">
							<img src="assets/images/geant-logo-small.png">
							<h2 class="panel-title">NMaaS AppMarket</h2>
						</div> -->
					</div>
					<div class="panel-body">
						<ul class="nav nav-tabs nav-justified">
							<li role="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['login']">Login</a></li>
							<li role="registration" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['registration']">Register</a></li>
						</ul>
						<router-outlet></router-outlet>
						<app-changelog></app-changelog>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nmaas-footer></nmaas-footer>
