html, body {
	min-height: 100vh;
}

.container-fluid {
	min-height: 100vh;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
}

.vertical-offset {
	margin-top: 50px;
}

.login-vertical-offset {
}

.landing-img-sm{
	width: 100%;
	height: 100%;
	max-width: 200px;
	max-height: 160px;
}

.landing-img-lg{
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 400px;
}

.landing-img-left{
	padding-left: 15px;
}

.landing-img-right{
	padding-right: 15px;
}

.landing-img-logo{
	width: 100%;
	height: 100%;
	max-height: 150px;
	max-width: 200px;
}

.landing-block-padding{
	padding-top: 8vh;
}