
<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 login-vertical-offset">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 panel panel-default" style="height: calc(100vh - 135px); overflow: auto">
				<div class="panel-heading text-center" style="background: none">
					<img src="assets/images/NMaaSMarket.png" style="width: 250px">
				</div>
				<div class="panel-body">
					<p>Network Management as a Service (NMaaS) provides a portfolio of network management applications run on a per-user, secured network monitoring infrastructure. GÉANT’s NMaaS service includes three aspects: providing, managing and maintaining the infrastructure of the NMaaS service portal, platform and selected tools, supporting users in using the system, and the selected tools for monitoring their networks via NMaaS, as well as supporting users that contribute their software to NMaaS system.</p>
					<p>NMaaS users are organisations that do not want to own NMS infrastructure themselves and/or want to outsource network management, as well as organisations and/or individuals that are searching for quality network management software or who want to share their software within the community.</p>
					<p>NMaaS provides multiple benefits, as a system, an application marketplace, and as a service. NMaaS simplifies domain network management by providing the infrastructure and tools via a cloud-based, multi-tenant and secure network management system. It enables the deployment of network management tools, as well as management and monitoring of client networks, although NMaaS does not monitor and manage the network by itself. The selection of tools that is and/or can be made available to users is not limited to network management tools and can be easily extended. With NMaaS, users do not have to bear the ownership costs and risks related to maintenance and control of the network management infrastructure.</p>
					<div class="text-center">
						<img src="assets/images/nmaas-infra-1.png" style="height: 290px; margin-bottom: 20px">
					</div>
					<p>NMaaS is being developed as a part of the GÉANT Network 4, Phase 2 project (GN4-2) within the Network Services Development (JRA2) project activity. This document provides more information about the NMaaS service, including technical and service description, benefits, operational details and future roadmap.</p>
				</div>
				<div class="panel-footer text-center" style="background: none">
					<img src="assets/images/geant-logo-small.png">
					<h2 class="panel-title">NMaaS AppMarket</h2>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
					</div>
					<div class="panel-body">
						<ul class="nav nav-tabs nav-justified">
							<li role="login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['login']">Login</a></li>
							<li role="registration" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['registration']">Register</a></li>
						</ul>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nmaas-footer></nmaas-footer>
