    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="panel panel-default login-vertical-offset">
                <div class="panel-heading">
                    <div class="text-center">
                        <img alt="Geant logo" src="assets/images/geant-logo-small.png">
                    </div>
                    <div style="display: inline-block" class="pull-right">
                        <select #langSelect class="form-control" (change)="useLanguage(langSelect.value)">
                            <option *ngFor="let lang of languages" [value]="lang"
                                    [selected]="lang === translate.currentLang">{{ lang }}</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body">
                    <h5 class="text-center">{{'COMPLETE_REGISTRATION.HEADER' | translate}}</h5>
                    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
                        <div class="form-group form-group-sm"
                             [ngClass]="{'has-error':  registrationForm.controls.username.invalid && registrationForm.controls.username.dirty,
 					 	'has-success': registrationForm.controls.username.valid && registrationForm.controls.username.dirty}">
                            <label for="username" class="control-label">{{'REGISTRATION.USERNAME' | translate}} *</label>
                            <input id="username" class="form-control" placeholder="{{'REGISTRATION.USERNAME' | translate}}" formControlName="username">
                        </div>
                        <div class="form-group form-group-sm"
                             [ngClass]="{'has-error':  registrationForm.controls.email.invalid && registrationForm.controls.email.dirty,
 					 	'has-success': registrationForm.controls.email.valid && registrationForm.controls.email.dirty}">
                            <label for="email" class="control-label">{{'REGISTRATION.EMAIL' | translate}} *</label>
                            <input id="email" class="form-control" placeholder="{{'REGISTRATION.EMAIL' | translate}}" formControlName="email">
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="firstname" class="control-label">{{'REGISTRATION.FIRST_NAME' | translate}}</label>
                            <input id="firstname" class="form-control" placeholder="{{'REGISTRATION.FIRST_NAME' | translate}}" formControlName="firstname">
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="lastname" class="control-label">{{'REGISTRATION.LAST_NAME' | translate}}</label>
                            <input id="lastname" class="form-control" placeholder="{{'REGISTRATION.LAST_NAME' | translate}}" formControlName="lastname">
                        </div>

                        <div class="form-group form-group-sm" style="display: none;">
                            <input id="termsOfUseAccepted" type="checkbox" class="checkbox-inline" formControlName="termsOfUseAccepted">
                            <label class="control-label">{{'REGISTRATION.AGREEMENT_MESSAGE' | translate}} <a (click)="modalInfoTerms.show()">{{'REGISTRATION.TERMS' | translate}}</a>*</label>
                        </div>

                        <div class="form-group form-group-sm">
                            <input id="privacyPolicyAccepted" type="checkbox" class="checkbox-inline" formControlName="privacyPolicyAccepted">
                            <label class="control-label">{{'REGISTRATION.AGREEMENT_MESSAGE' | translate}} <a (click)="modalInfoPolicy.show()">{{'REGISTRATION.PRIVACY_POLICY' | translate}}</a>*</label>
                        </div>

                        <div class="form-group form-group-sm">
                            <button class="btn btn-primary btn-block" [disabled]="!registrationForm.valid" type="submit" validate>
                                Submit
                                <img alt="sending" *ngIf="sending" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </button>

                            <div *ngIf="submitted && !success" class="alert alert-danger text-center">
                                {{errorMessage}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<nmaas-footer></nmaas-footer>

<nmaas-modal>
    <div class="nmaas-modal-header">
        <h4 style="text-align: center">{{'COMPLETE_REGISTRATION.MODAL.HEADER' | translate}}</h4>
    </div>
    <div class="nmaas-modal-body">
        <div class="form-group text-left">
            <p class="text-center">{{'COMPLETE_REGISTRATION.MODAL.BODY' | translate}}</p>
        </div>
    </div>
    <div class="nmaas-modal-footer">
        <button class="btn btn-danger center-block" (click)="this.hide()">{{'COMPLETE_REGISTRATION.MODAL.RETURN_BUTTON' | translate}}</button>
    </div>
</nmaas-modal>
<modal-info-terms></modal-info-terms>
<modal-info-policy></modal-info-policy>