<div style="margin-bottom: 120px;" class="panel panel-default">
	<div class="panel-heading">{{'USER_PRIVILEGES.HEADER' | translate}}</div>
	<div class="panel-body">
		<div *ngIf="isModeAllowed(ComponentMode.CREATE)">
			<form *ngIf="user" [formGroup]="newPrivilegeForm" (submit)="add()" class="form-inline row">
				<div class="form-group col-lg-3">
					<label for="domainId">{{'USER_PRIVILEGES.DOMAIN' | translate}}:</label>
					<select class="form-control" [formGroup]="newPrivilegeForm"
						id="domainId" name="domainId" formControlName="domainId" style="min-width: 170px">
						<option *ngFor="let domain of domains" [value]="domain.id">{{domain.name}}</option>
					</select>

				</div>

				<div class="form-group col-lg-3">
					<label for="role" >{{'USER_PRIVILEGES.ROLE' | translate}}:</label>
					<select
						class="form-control" [formGroup]="newPrivilegeForm" id="role"
						name="role" formControlName="role" style="min-width: 170px">
						<option *ngFor="let r of getAllowedRoles()" [value]="r">
							{{"ENUM.USER_ROLES." + Role[r].toUpperCase() | translate}}
						</option>
					</select>
				</div>
				<div class="col-lg-3">
					<button type="submit" class="btn btn-danger">{{'USER_PRIVILEGES.ADD_BUTTON' | translate}}</button>
				</div>
			</form>
			<hr>
		</div>
		
		<div *ngIf="isModeAllowed(ComponentMode.VIEW)|| isInMode(ComponentMode.PROFILVIEW)">
			
			<table class="table table-hover table-condensed" aria-describedby="User privilages in domain table">
				<thead>
					<tr>
						<th scope="col">{{'USER_PRIVILEGES.DOMAIN' | translate}}</th>
						<th scope="col">{{'USER_PRIVILEGES.ROLE' | translate}}</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>

				<tbody *ngIf="(domainId == domainService.getGlobalDomainId() && authService.hasRole('ROLE_SYSTEM_ADMIN')) || isInMode(ComponentMode.PROFILVIEW)">
					<ng-template ngFor let-userrole [ngForOf]="user?.roles">
					<tr *ngIf="userrole.domainId != domainService.getGlobalDomainId() || userrole.role != 'ROLE_GUEST'">
						<td>{{getDomainName(userrole.domainId)|async}}</td>
						<td>{{"ENUM.USER_ROLES." + userrole.role.toUpperCase() | translate}}</td>
						<td *ngIf="!isInMode(ComponentMode.PROFILVIEW)" class="text-right"><button type="button"
								class="btn btn-danger"
								(click)="remove(user.id, userrole.role, userrole.domainId)">{{'USER_PRIVILEGES.REMOVE_BUTTON' | translate}}</button></td>
					</tr>
					</ng-template>
				</tbody>

				<tbody *ngIf="domainId != domainService.getGlobalDomainId() && ((authService.hasDomainRole(domainId, 'ROLE_DOMAIN_ADMIN') || authService.hasRole('ROLE_SYSTEM_ADMIN'))) && !isInMode(ComponentMode.PROFILVIEW)">
					<ng-template ngFor let-userrole [ngForOf]="user?.roles">
						<tr *ngIf="domainId == userrole.domainId">
							<td>{{getDomainName(userrole.domainId)|async}}</td>
							<td>{{"ENUM.USER_ROLES." + userrole.role.toUpperCase() | translate}}</td>
							<td class="text-right">
								<button type="button" class="btn btn-danger"
										(click)="remove(user.id, userrole.role, userrole.domainId)">{{'USER_PRIVILEGES.REMOVE_BUTTON' | translate}}</button>
							</td>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>



	</div>
</div>
