					<div class="row">
						<h3>Application instances</h3> 
					
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
							<form class = "form-inline" role = "form">
								<label for="selectionType">Show: </label>
								<select id="selectionType" class="form-control" [(ngModel)]="listSelection" (change)="onSelectionChange($event)" [selectedIndex]="listSelection" [ngModelOptions]="{standalone: true}">				
									<option *ngFor="let sl of AppInstanceListSelection | keys" [value]="sl.key">{{sl.value}}</option>
								</select>	
							</form>
						</div>
					</div>
					<div class = "row">
						<table class = "table table-hover table-condensed">
						   
						   <thead>
							  <tr>
								 <th>Name</th>
								 <th *ngIf="domainId === undefined">Domain</th>
								 <th>Owner</th>
								 <th>Deployed at</th>
								 <th>Application</th>
								 <th>State</th>
								 <th>&nbsp;</th>
							  </tr>
						   </thead>
						   
						   <tbody>
						      <ng-template ngFor let-appInstance [ngForOf]="appInstances | async">
							  <tr>
								 <td>{{appInstance?.name}}</td>
								 <td *ngIf="domainId === undefined">{{appInstance?.domainId}}</td>
								 <td>{{appInstance?.owner?.username}}</td>
								 <td>{{appInstance?.createdAt | date:'medium'}}</td>
								 <td>{{appInstance?.applicationName}}</td>
								 <td>{{appInstance?.state}}</td>
								<td>
									<a [routerLink]="[appInstance.id]" class = "btn btn-sm btn-primary" role = "button">
										Details
									</a>
									<a *ngIf="appInstance?.state == AppInstanceState[AppInstanceState.RUNNING] && appInstance?.url" href="{{appInstance?.url}}" class = "btn btn-sm btn-success" role = "button">Go to app</a>							
								</td>
							  </tr>
							  </ng-template>
						
						   </tbody>
						</table>
						
					</div>
					
				
