<div class="row">
	<h3>Users</h3>
	<br>
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Username</th>
				<th *ngIf="domainId === domainService.getGlobalDomainId()">Domains</th>
				<th *ngIf="domainId === domainService.getGlobalDomainId()">Global role</th>
				<th *ngIf="domainId !== domainService.getGlobalDomainId()">Roles</th>
				<th>Enabled</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<ng-template ngFor let-user [ngForOf]="users">
			<tr>
				<td>{{user.username}}</td>
				<td *ngIf="domainId === domainService.getGlobalDomainId()"> <div *ngFor="let role of filterDomainNames(user); last as isLast"> <span *ngIf="!isLast" style="float:left;padding-right: 3px">{{getDomainName(role.domainId) | async}},</span> <span *ngIf="isLast" style="float:left;padding-right: 3px">{{getDomainName(role.domainId) | async}}</span></div><br></td>
				<td *ngIf="domainId === domainService.getGlobalDomainId()"><span>{{getGlobalRole(user)}}</span></td>
				<td *ngIf="domainId !== domainService.getGlobalDomainId()"><span *ngFor="let role of getOnlyDomainRoles(user)">{{role.role | slice:5}}</span></td>
				<td><span class="glyphicon glyphicon-ok" *ngIf="user?.enabled"></span><span class="glyphicon glyphicon-remove" *ngIf="!(user?.enabled)"></span></td>
				<td class="text-right">
					<a (click)="view(user.id)" class="btn btn-sm btn-primary" role="button">Details</a>
					<a (click)="changeUserStatus(user, false)" *ngIf="user.enabled && authService.hasRole('ROLE_SUPERADMIN')" class="btn btn-sm btn-warning" role="button">Disable</a>
					<a (click)="changeUserStatus(user, true)" *ngIf="!user.enabled && authService.hasRole('ROLE_SUPERADMIN')" class="btn btn-sm btn-warning" role="button">Enable</a>
					<a *ngIf="isModeAllowed(ComponentMode.DELETE) && domainId != domainService.getGlobalDomainId()" (click)="remove(user)" class="btn btn-sm btn-danger" role="button">Remove from domain</a>
				</td>
			</tr>
			</ng-template>
		</tbody>
	</table>
</div>
