<div class="row" *roles="['ROLE_SUPERADMIN']">
    <div class="row">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            <ng-template ngFor let-cluster [ngForOf]="clusters">
                <tr>
                    <td>{{cluster.name}}</td>
                    <td class="text-right">
                        <a (click)="view(cluster.name)" class="btn btn-sm btn-primary" role="button">Details</a>
                        <a (click)="remove(cluster.name)" class="btn btn-sm btn-danger" role="button">Remove</a>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </table>
    </div>
</div>