	<div class="row">
		<h3>Your comment:</h3>
		<div>
			<form role="form" (ngSubmit)="this.addComment()">
				<div class="form-group">
					<label class="sr-only" for="name">Your comment:</label>
					<textarea name="comment" placeholder="Add some comment here..."
						class="form-control" rows="5" required [(ngModel)]="newComment.comment"></textarea>
					<button type="submit" class="btn btn-default">Add</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
				<h3>Comments:</h3>
				<ul class="media-list">
					<ng-template ngFor let-comment [ngForOf]="comments">
					<li *ngIf="!comment.parentId" class="media">
						<div class="media-left">
						  <a href="#">
							<span class="glyphicon glyphicon-user"></span>
							<!-- img class="media-object" src="" alt="USER" -->
						  </a>
						</div>
						<div class="media-body">
						  <h6 class="media-heading">{{comment.owner.username}}, {{comment.createdAt | date}} <span class="glyphicon glyphicon-remove" (click)="this.deleteComment(comment.id)"></span></h6>
						  <p>{{comment.comment}}</p>
						  <hr>															
																					
							<ul *ngIf="comment.subComments !== null" class="media-list">
								<ng-template ngFor let-subcomment [ngForOf]="comment.subComments">
							
								<li class="media">
									<div class="media-left">
									  <a href="#">
										<span class="glyphicon glyphicon-user"></span>
										<!-- img class="media-object" src="" alt="USER" -->
									  </a>
									</div>
									<div class="media-body">
									  <h6 class="media-heading">{{subcomment.owner.username}}, {{subcomment.createdAt | date}} <span class="glyphicon glyphicon-remove" (click)="this.deleteComment(subcomment.id)"></span></h6>
									  <p>{{subcomment.comment}}</p>
									  <hr>
									</div>							
								</li>
								</ng-template>
							</ul>
						
						
						</div>
					
					
					</li>
					</ng-template>
				</ul>
	</div>