<p-steps [model]="steps" [(activeIndex)]="activeStepIndex"></p-steps>
<hr/>

    <div *ngIf="activeStepIndex === 0">
        <div class="panel">
            <p class="text-center">Lorem ipsum</p>
        </div>
        <input type="checkbox" [checked]="rulesAccepted" (click)="changeRulesAcceptedFlag()"> I have accepted the rules
        <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="!rulesAccepted">Next</button>
    </div>

    <div *ngIf="activeStepIndex === 1">
        <div class="panel">
        <form [formGroup]="basicAppInformationForm">
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.appName.invalid && basicAppInformationForm.controls.appName.dirty,
 				    	 	'has-success': basicAppInformationForm.controls.appName.valid && basicAppInformationForm.controls.appName.dirty}">
                <label for="appName" class="control-label">Name *</label>
                <input type="text" id="appName" class="form-control" formControlName="appName">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.appVersion.invalid && basicAppInformationForm.controls.appVersion.dirty,
 			    		 	'has-success': basicAppInformationForm.controls.appVersion.valid && basicAppInformationForm.controls.appVersion.dirty}">
                <label for="appVersion" class="control-label">Version *</label>
                <input type="text" id="appVersion" class="form-control" formControlName="appVersion">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.appLicense.invalid && basicAppInformationForm.controls.appLicense.dirty,
 			    		 	'has-success': basicAppInformationForm.controls.appLicense.valid && basicAppInformationForm.controls.appLicense.dirty}">
                 <label for="appLicense" class="control-label">License *</label>
                 <input type="text" id="appLicense" class="form-control" formControlName="appLicense">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.appLicenseUrl.invalid && basicAppInformationForm.controls.appLicenseUrl.dirty,
 				    	 	'has-success': basicAppInformationForm.controls.appLicenseUrl.valid && basicAppInformationForm.controls.appLicenseUrl.dirty}">
                 <label for="appLicenseUrl" class="control-label">License url *</label>
                 <input type="url" id="appLicenseUrl" class="form-control" formControlName="appLicenseUrl">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.wwwUrl.invalid && basicAppInformationForm.controls.wwwUrl.dirty,
 				    	 	'has-success': basicAppInformationForm.controls.wwwUrl.valid && basicAppInformationForm.controls.wwwUrl.dirty}">
                 <label for="wwwUrl" class="control-label">Project website *</label>
                 <input type="url" id="wwwUrl" class="form-control" formControlName="wwwUrl">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.sourceUrl.invalid && basicAppInformationForm.controls.sourceUrl.dirty,
 				    	 	'has-success': basicAppInformationForm.controls.sourceUrl.valid && basicAppInformationForm.controls.sourceUrl.dirty}">
                 <label for="sourceUrl" class="control-label">Link to source code *</label>
                 <input type="url" id="sourceUrl" class="form-control" formControlName="sourceUrl">
            </div>
            <div class="form-group form-group-sm"
                 [ngClass]="{'has-error':  basicAppInformationForm.controls.issuesUrl.invalid && basicAppInformationForm.controls.issuesUrl.dirty,
 				    	 	'has-success': basicAppInformationForm.controls.issuesUrl.valid && basicAppInformationForm.controls.issuesUrl.dirty}">
                 <label for="issuesUrl" class="control-label">Link to project issues *</label>
                 <input type="url" id="issuesUrl" class="form-control" formControlName="issuesUrl">
            </div>
            <div class="form-group form-group-sm">
                <label for="tags" class="control-label">Select tags for application * </label><br>
                <p-multiSelect id="tags" [panelStyle]="{minWidth:'25em'}" [options]="tags" formControlName="tags" defaultLabel="Choose | Wybierz"></p-multiSelect>
            </div>
        </form>
        </div>
        <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="basicAppInformationForm.invalid">Next</button>
    </div>

    <div *ngIf="activeStepIndex === 2">
        <div class="panel">
            <div class="panel-heading">
                Uploading logo
            </div>
            <div class="panel-body">
                <p-fileUpload name="logo" customUpload="true" (onSelect)="getLogoUrl($event)" (onRemove)="clearLogo($event)" (onClear)="clearLogo($event)" accept="image/*" maxFileSize="1000000" [showUploadButton]=false [showCancelButton]="false">
                </p-fileUpload>
                <div class="thumbnail">
                    <img id = "logo" [src]="logo?.objectURL || 'assets/images/app-logo-example.png'" alt="Logo" [width]="200" [height]="200">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                Upload screenshots
            </div>
            <div class="panel-body">
                <p-fileUpload name="screenshots" customUpload="true" [multiple]="true" (onSelect)="getScreenshotsUrl($event)" (onRemove)="clearScreenshots($event)" (onClear)="clearScreenshots($event)" accept="image/*" maxFileSize="2000000" [showUploadButton]="false" [showCancelButton]="false">
                </p-fileUpload>
                <div class="carousel slide media-carousel col-md-12" id="media" *ngIf="screenshots && screenshots.length > 0">
                    <div class="carousel-inner">
                        <div class="item" *ngFor="let row of screenshots | group:3; let firstRow = last" [ngClass]="{'active': firstRow}">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let screenshot of row">
                                    <a class="thumbnail">
                                        <img alt="Screenshot" [src]="screenshot.objectURL || 'assets/images/app-screenshot-example.png'">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-slide="prev" href="#media" class="left carousel-control" *ngIf="screenshots.length > 3">&lt;</a>
                    <a data-slide="next" href="#media" class="right carousel-control" *ngIf="screenshots.length > 3">&gt;</a>
                </div>
            </div>
        </div>
        <button class="btn btn-success pull-right" (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="activeStepIndex === 3">
        <form class="form-horizontal" #descriptionForm="ngForm">
            <div class="panel" *ngFor="let appDescription of appDescriptions">
                <div class="panel-heading">
                    <p *ngIf="appDescription.language === 'en'">{{appDescription.language}} *</p>
                    <p *ngIf="appDescription.language != 'en'">{{appDescription.language}}</p>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="briefDescription" class="col-sm-2 control-label">Brief description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="briefDescription" name="briefDescription" [maxLength]="200"
                                  [(ngModel)]="appDescription.briefDescription" *ngIf="appDescription.language != 'en'"></textarea>
                            <textarea class="form-control" id="enBriefDescription" name="enBriefDescription" [maxLength]="200"
                                      [(ngModel)]="appDescription.briefDescription" required *ngIf="appDescription.language === 'en'"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="fullDescription" class="col-sm-2 control-label">Full description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="fullDescription" name="fullDescription"
                                  [(ngModel)]="appDescription.fullDescription" *ngIf="appDescription.language != 'en'"></textarea>
                            <textarea class="form-control" id="enFullDescription" name="enFullDescription"
                                      [(ngModel)]="appDescription.fullDescription" required *ngIf="appDescription.language === 'en'"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="descriptionForm.invalid">Next</button>
    </div>
    <div *ngIf="activeStepIndex === 4">
        <div class="panel">
            <div class="panel-heading">Application deployment specification</div>
            <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="kubernetesTemplateChartName" class="control-label">Chart name</label>
                        <br>
                        <input type="text" class="form-control" id="kubernetesTemplateChartName" name="kubernetesTemplateChartName"
                               [(ngModel)]="appDeploymentSpec.kubernetesTemplate.chart.name">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="kubernetesTemplateChartVersion" class="control-label">Chart version</label>
                        <br>
                        <input type="text" class="form-control" id="kubernetesTemplateChartVersion" name="kubernetesTemplateChartVersion"
                               [(ngModel)]="appDeploymentSpec.kubernetesTemplate.chart.version">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="kubernetesTemplateChartArchive" class="control-label">Archive</label>
                        <br>
                        <input type="text" class="form-control" id="kubernetesTemplateChartArchive" name="kubernetesTemplateChartArchive"
                               [(ngModel)]="appDeploymentSpec.kubernetesTemplate.archive">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="defaultStorageSpace" class="control-label">Default storage space</label>
                        <br>
                        <input type="number" class="form-control no-spin" id="defaultStorageSpace" name="defaultStorageSpace" [min]="1"
                               [(ngModel)]="appDeploymentSpec.defaultStorageSpace">
                    </div>
                    <div class="form-group form-group-sm" *ngFor="let val of getParametersTypes()">
                        <label for="val" class="control-label">Deploy parameter: {{val}}</label>
                        <br>
                        <input type="text" class="form-control" id="val" name="val" (change)="addToDeployParametersMap(val, $event)" [value]="getDeployParameterValue(val)">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="configFileRepositoryRequired" class="col-sm-2 control-label">Repository required</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="configFileRepositoryRequired" name="configFileRepositoryRequired"
                                   [defaultChecked]="false" [(ngModel)]="appDeploymentSpec.configFileRepositoryRequired">
                        </div>
                    </div>
            </div>
            <hr>
            <div class="panel">
                <div class="panel-heading">Application configuration wizard template</div>
                <div class="panel-body">
                    <form-builder [form]="configTemplateService.getConfigTemplate()" (change)="setConfigTemplate($event)"></form-builder>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">Application update configuration wizard template</div>
                <div class="panel-body">
                    <form-builder [form]="configTemplateService.getConfigUpdateTemplate()" (change)="setUpdateConfigTemplate($event)"></form-builder>
                </div>
            </div>
        </div>
        <button class="btn btn-success pull-right" (click)="nextStep()">Next</button>
    </div>
    <div *ngIf="activeStepIndex === 5">

        <button class="btn btn-success pull-right" (click)="submit()" *ngIf="activeStepIndex == 5" [disabled]="!isValid() || isInvalidDescriptions()">Submit</button>
    </div>
    <button class="btn btn-warning pull-left" (click)="previousStep()" *ngIf="activeStepIndex != 0">Previous</button>