<h3 *ngIf="isInMode(ComponentMode.CREATE)">{{ 'APPS_WIZARD.NEW_APP_WIZARD_HEADER' | translate }}</h3>
<h3 *ngIf="isInMode(ComponentMode.EDIT)">{{ 'APPS_WIZARD.EDIT_APP_WIZARD_HEADER' | translate: {'app_name': appName} }}</h3>

<p-steps [model]="steps" [(activeIndex)]="activeStepIndex"></p-steps>
<hr/>

    <div *ngIf="activeStepIndex === 0">
        <div class="panel">
            <p class="text-center">{{'APPS_WIZARD.FIRST_PAGE_MESSAGE' | translate}}</p>
        </div>
        <input type="checkbox" [checked]="rulesAccepted" (click)="changeRulesAcceptedFlag()"> {{'APPS_WIZARD.ACCEPT_RULES_CHECKBOX' | translate}}
        <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="!rulesAccepted" [display]="!rulesAccepted" tooltip="{{'APPS_WIZARD.ACCEPT_RULES_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
    </div>

    <div *ngIf="activeStepIndex === 1">
        <div *ngIf="app">
            <div class="panel">
                <form class="form-horizontal" #basicInfoForm="ngForm">
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  appName.invalid && (appName.dirty || appName.touched),
 			    		 	'has-success': appName.valid && (appName.dirty || appName.touched)}">
                        <label for="appName" class="control-label">{{'APPS_WIZARD.NAME_LABEL' | translate}} *</label>
                        <br>
                        <input type="text" id="appName" class="form-control" required [(ngModel)]="app.name" name="appName" #appName="ngModel" tooltip="{{'APPS_WIZARD.NAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  version.invalid && (version.dirty || version.touched),
 			    		 	'has-success': version.valid && (version.dirty || version.touched)}">
                        <label for="appVersion" class="control-label">{{'APPS_WIZARD.VERSION_LABEL' | translate}} *</label>
                        <br>
                        <input type="text" id="appVersion" class="form-control" required [(ngModel)]="app.version" name="version" #version="ngModel" tooltip="{{'APPS_WIZARD.VERSION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  license.invalid && (license.dirty || license.touched),
 			    		 	'has-success': license.valid && (license.dirty || license.touched)}">
                        <label for="appLicense" class="control-label">{{'APPS_WIZARD.LICENSE_LABEL' | translate}} *</label>
                        <br>
                        <input type="text" id="appLicense" class="form-control" required [(ngModel)]="app.license" name="license" #license="ngModel" tooltip="{{'APPS_WIZARD.LICENSE_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  licenseUrl.invalid && (licenseUrl.dirty || licenseUrl.touched),
 				    	 	'has-success': licenseUrl.valid && (licenseUrl.dirty || licenseUrl.touched)}">
                        <label for="appLicenseUrl" class="control-label">{{'APPS_WIZARD.LICENSE_URL_LABEL' | translate}} *</label>
                        <br>
                        <input type="url" id="appLicenseUrl" class="form-control" [pattern]="urlPattern" required [(ngModel)]="app.licenseUrl" name="licenseUrl" #licenseUrl="ngModel" tooltip="{{'APPS_WIZARD.LICENSE_URL_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions" placeholder="e.g. https://opensource.org/licenses/MIT">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  wwwUrl.invalid && (wwwUrl.dirty || wwwUrl.touched),
 				    	 	'has-success': wwwUrl.valid && (wwwUrl.dirty || wwwUrl.touched)}">
                        <label for="wwwUrl" class="control-label">{{'APPS_WIZARD.PROJECT_WEBSITE_LABEL' | translate}} *</label>
                        <br>
                        <input type="url" id="wwwUrl" class="form-control" [pattern]="urlPattern" required name="wwwUrl" #wwwUrl="ngModel" tooltip="{{'APPS_WIZARD.PROJECT_WEBSITE_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions" [(ngModel)]="app.wwwUrl">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  sourceUrl.invalid && (sourceUrl.dirty || sourceUrl.touched),
 				    	 	'has-success': sourceUrl.valid && (sourceUrl.dirty || sourceUrl.touched)}">
                        <label for="sourceUrl" class="control-label">{{'APPS_WIZARD.SOURCE_CODE_LABEL' | translate}} *</label>
                        <br>
                        <input type="url" id="sourceUrl" class="form-control" [pattern]="urlPattern" required name="sourceUrl" #sourceUrl="ngModel" tooltip="{{'APPS_WIZARD.SOURCE_CODE_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions" [(ngModel)]="app.sourceUrl">
                    </div>
                    <div class="form-group form-group-sm"
                         [ngClass]="{'has-error':  issuesUrl.invalid && (issuesUrl.dirty || issuesUrl.touched),
 				    	 	'has-success': issuesUrl.valid && (issuesUrl.dirty || issuesUrl.touched)}">
                        <label for="issuesUrl" class="control-label">{{'APPS_WIZARD.PROJECT_ISSUES_LABEL' | translate}} *</label>
                        <br>
                        <input type="url" id="issuesUrl" class="form-control" [pattern]="urlPattern" required name="issuesUrl" #issuesUrl="ngModel" tooltip="{{'APPS_WIZARD.PROJECT_ISSUES_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions" [(ngModel)]="app.issuesUrl">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="newTags" class="control-label">{{'APPS_WIZARD.NEW_TAGS_LABEL' | translate}}</label>
                        <br>
                        <p-chips class="ui-fluid" [(ngModel)]="newTags" [allowDuplicate]="false" (onAdd)="addNewTag($event)" (onRemove)="removeNewTag($event)" name="newTags" id="newTags" tooltip="{{'APPS_WIZARD.NEW_TAGS_TOOLTIP' | translate}}" placement="left" show-delay="50" theme="dark" [display]="true"></p-chips>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="tags" class="control-label">{{'APPS_WIZARD.TAGS_LABEL' | translate}} * </label>
                        <br>
                        <p-multiSelect #tagsMultiSelect id="tags" [panelStyle]="{minWidth:'25em'}" [options]="tags" [(ngModel)]="app.tags" name="tags" tooltip="{{'APPS_WIZARD.TAGS_TOOLTIP' | translate}}" placement="bottom" show-delay="50" theme="dark" [display]="true" [defaultLabel]="translate.instant('APPS_WIZARD.CHOOSE_LABEL')"></p-multiSelect>
                    </div>
                </form>
            </div>
            <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="basicInfoForm.invalid" [display]="basicInfoForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
        </div>
    </div>

    <div *ngIf="activeStepIndex === 2">
        <div class="panel">
            <div class="panel-heading">
                {{'APPS_WIZARD.UPLOAD_LOGO_LABEL' | translate}}
            </div>
            <div class="panel-body">
                <p-fileUpload name="logo" [disabled]="canAddLogo()" [files]="logo" customUpload="true" [multiple]="true" (onRemove)="clearLogo($event)" (onClear)="clearLogo($event)" accept="image/*" maxFileSize="1000000" [showUploadButton]=false [showCancelButton]="true" [chooseLabel]="translate.instant('APPS_WIZARD.CHOOSE_LABEL')" [cancelLabel]="translate.instant('APPS_WIZARD.CANCEL_LABEL')">
                </p-fileUpload>
                <div class="thumbnail">
                    <img id = "logo" [src]="logo[0]?.objectURL || 'assets/images/app-logo-example.png'" alt="Logo" [width]="200" [height]="200">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                {{'APPS_WIZARD.UPLOAD_SCREENSHOTS_LABEL' | translate}}
            </div>
            <div class="panel-body">
                <p-fileUpload name="screenshots" customUpload="true" [multiple]="true" [files]="screenshots" accept="image/*" maxFileSize="2000000" [showUploadButton]="false" [showCancelButton]="false" [chooseLabel]="translate.instant('APPS_WIZARD.CHOOSE_LABEL')">
                </p-fileUpload>
            </div>
        </div>
        <button class="btn btn-success pull-right" (click)="nextStep()">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
    </div>
    <div *ngIf="activeStepIndex === 3">
        <div *ngIf="app">
            <form class="form-horizontal" #descriptionForm="ngForm">
                <div class="panel" *ngFor="let appDescription of app.descriptions; let i=index">
                    <div class="panel-heading">
                        <div *ngIf="appDescription.language === 'en'"><img alt="language" src="assets/images/country/{{appDescription.language}}_circle.png" style="height: 22px"> {{appDescription.language.toUpperCase()}} *</div>
                        <div *ngIf="appDescription.language != 'en'"><img alt="language" src="assets/images/country/{{appDescription.language}}_circle.png" style="height: 22px"> {{appDescription.language.toUpperCase()}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group form-group-sm" *ngIf="appDescription.language != 'en'">
                            <label for="briefDescription-{{i}}" class="col-sm-2 control-label">{{'APPS_WIZARD.BRIEF_DESCRIPTION_LABEL' | translate}}</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="briefDescription-{{i}}" name="briefDescription-{{i}}" [maxLength]="200"
                                      [(ngModel)]="appDescription.briefDescription" tooltip="{{'APPS_WIZARD.BRIEF_DESCRIPTION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm" *ngIf="appDescription.language === 'en'" [ngClass]="{'has-error':  !appDescription.briefDescription || appDescription.briefDescription === '',
 			    		 	'has-success': appDescription.briefDescription && appDescription.briefDescription != ''}">
                            <label for="enBriefDescription" class="col-sm-2 control-label">{{'APPS_WIZARD.BRIEF_DESCRIPTION_LABEL' | translate}} *</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="enBriefDescription" name="enBriefDescription" [maxLength]="200"
                                      [(ngModel)]="appDescription.briefDescription" required tooltip="{{'APPS_WIZARD.BRIEF_DESCRIPTION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm" *ngIf="appDescription.language != 'en'">
                            <label for="fullDescription-{{i}}" class="col-sm-2 control-label">{{'APPS_WIZARD.FULL_DESCRIPTION_LABEL' | translate}}</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="fullDescription-{{i}}" name="fullDescription-{{i}}"
                                      [(ngModel)]="appDescription.fullDescription" tooltip="{{'APPS_WIZARD.FULL_DESCRIPTION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm" *ngIf="appDescription.language === 'en'" [ngClass]="{'has-error':  !appDescription.fullDescription || appDescription.fullDescription === '',
 			    		 	'has-success': appDescription.fullDescription && appDescription.fullDescription != ''}">
                            <label for="enFullDescription" class="col-sm-2 control-label">{{'APPS_WIZARD.FULL_DESCRIPTION_LABEL' | translate}} *</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="enFullDescription" name="enFullDescription"
                                      [(ngModel)]="appDescription.fullDescription" tooltip="{{'APPS_WIZARD.FULL_DESCRIPTION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-success pull-right" (click)="nextStep()" [disabled]="descriptionForm.invalid" [display]="descriptionForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
        </div>
    </div>
    <div *ngIf="activeStepIndex === 4">
        <div *ngIf="app">
            <div class="panel">
                <div class="panel-heading">{{'APPS_WIZARD.APP_DEPLOYMENT_HEADER' | translate}}</div>
                <form class="form-horizontal" #appDeploymentForm="ngForm">
                    <div class="panel-body">
                        <div class="form-group form-group-sm" [ngClass]="{'has-error':  kubernetesTemplateChartName.invalid && (kubernetesTemplateChartName.dirty || kubernetesTemplateChartName.touched),
 			    		 	'has-success': kubernetesTemplateChartName.valid && (kubernetesTemplateChartName.dirty || kubernetesTemplateChartName.touched)}">
                            <label *ngIf="!isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartName" class="control-label">{{'APPS_WIZARD.CHART_NAME_LABEL' | translate}}</label>
                            <label *ngIf="isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartName" class="control-label">{{'APPS_WIZARD.CHART_NAME_LABEL' | translate}} *</label>
                            <br>
                            <input type="text" class="form-control" id="kubernetesTemplateChartName" name="kubernetesTemplateChartName" #kubernetesTemplateChartName="ngModel"
                                   [(ngModel)]="app.appDeploymentSpec.kubernetesTemplate.chart.name" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CHART_NAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="kubernetesTemplateChartVersion" class="control-label">{{'APPS_WIZARD.CHART_VERSION_LABEL' | translate}}</label>
                            <br>
                            <input type="text" class="form-control" id="kubernetesTemplateChartVersion" name="kubernetesTemplateChartVersion"
                                   [(ngModel)]="app.appDeploymentSpec.kubernetesTemplate.chart.version" tooltip="{{'APPS_WIZARD.CHART_VERSION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                        </div>
                        <div class="form-group form-group-sm" [ngClass]="{'has-error':  storageSpace.invalid && (storageSpace.dirty || storageSpace.touched),
 			    		 	'has-success': storageSpace.valid && (storageSpace.dirty || storageSpace.touched)}">
                            <label for="defaultStorageSpace" class="control-label">{{'APPS_WIZARD.DEFAULT_STORAGE_SPACE_LABEL' | translate}} *</label>
                            <br>
                            <input type="number" class="form-control no-spin" id="defaultStorageSpace" name="defaultStorageSpace" [min]="1" required
                                   [(ngModel)]="app.appDeploymentSpec.defaultStorageSpace" #storageSpace="ngModel" tooltip="{{'APPS_WIZARD.DEFAULT_STORAGE_SPACE_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="deployParameters" class="control-label">{{'APPS_WIZARD.DEPLOY_PARAMETERS_DROPDOWN' | translate}}</label>
                            <br>
                            <p-multiSelect id="deployParameters" (onChange)="removeDeployParameterFromMap($event)" [panelStyle]="{minWidth:'25em'}" [options]="deployParameter" [(ngModel)]="selectedDeployParameters" name="deployParameters" tooltip="{{'APPS_WIZARD.DEPLOY_PARAMETER_TOOLTIP' | translate}}" placement="left" show-delay="50" theme="dark" [display]="true" [defaultLabel]="translate.instant('APPS_WIZARD.CHOOSE_LABEL')"></p-multiSelect>
                        </div>
                        <div class="form-group form-group-sm" *ngFor="let val of selectedDeployParameters">
                            <label for="val" class="control-label">{{'APPS_WIZARD.DEPLOY_PARAMETER_LABEL' | translate}}: {{val}}</label>
                            <br>
                            <input type="text" class="form-control" id="val" name="val" (change)="addToDeployParametersMap(val, $event)" [value]="getDeployParameterValue(val)">
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="configFileRepositoryRequired" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.REPOSITORY_REQUIRED_LABEL' | translate}}</label>
                            <div class="col-sm-10">
                                <input type="checkbox" id="configFileRepositoryRequired" name="configFileRepositoryRequired"
                                       [defaultChecked]="false" [(ngModel)]="app.appDeploymentSpec.configFileRepositoryRequired" tooltip="{{'APPS_WIZARD.REPOSITORY_REQUIRED_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                            </div>
                        </div>
                        <div *ngIf="app.appDeploymentSpec.configFileRepositoryRequired">
                            <div *ngFor="let configTemplate of serviceConfigTemplate; let i=index">
                                <div class="form-group form-group-sm" [ngClass]="{'has-error':  configFileName.invalid && (configFileName.dirty || configFileName.touched),
 			    		 	        'has-success': configFileName.valid && (configFileName.dirty || configFileName.touched)}">
                                    <label *ngIf="isInMode(ComponentMode.CREATE)" for="configFileName-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_FILENAME_LABEL' | translate}}</label>
                                    <label *ngIf="isInMode(ComponentMode.EDIT)" for="configFileName-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_FILENAME_LABEL' | translate}} *</label>
                                    <button class="btn btn-xs btn-danger" style="float: right;" (click)="removeConfig(i)" [disabled]="serviceConfigTemplate.length <= 1"><span class="glyphicon glyphicon-remove"></span></button>
                                    <br>
                                    <input type="text" class="form-control" id="configFileName-{{i}}" name="configFileName-{{i}}" #configFileName="ngModel"
                                           [(ngModel)]="configTemplate.configFileName" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CONFIG_FILENAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
                                </div>
                                <div class="form-group form-group-sm" [ngClass]="{'has-error':  configFileTemplateContent.invalid && (configFileTemplateContent.dirty || configFileTemplateContent.touched),
 			    		 	        'has-success': configFileTemplateContent.valid && (configFileTemplateContent.dirty || configFileTemplateContent.touched)}">
                                    <label *ngIf="isInMode(ComponentMode.CREATE)" for="configFileTemplateContent-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_CONTENT_LABEL' | translate}}</label>
                                    <label *ngIf="isInMode(ComponentMode.EDIT)" for="configFileTemplateContent-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_CONTENT_LABEL' | translate}} *</label>
                                    <br>
                                    <textarea class="form-control" id="configFileTemplateContent-{{i}}" name="configFileTemplateContent-{{i}}" #configFileTemplateContent="ngModel"
                                              [(ngModel)]="configTemplate.configFileTemplateContent" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CONFIG_CONTENT_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary" style="margin-left: -15px;" (click)="addConfig()">{{'APPS_WIZARD.ADD_CONFIG_BUTTON' | translate }}</button>
                        </div>

                    </div>
                </form>
                <hr>
                <div class="panel">
                    <div class="panel-heading">{{'APPS_WIZARD.CONFIG_WIZARD_TEMPLATE_LABEL' | translate}}</div>
                    <div class="panel-body">
                        <form-builder *ngIf="isInMode(ComponentMode.CREATE) || !app.configTemplate.template" [form]="configTemplateService.getConfigTemplate()" (change)="setConfigTemplate($event)"></form-builder>
                        <form-builder *ngIf="isInMode(ComponentMode.EDIT)" [form]="app.configTemplate.template" (change)="setConfigTemplate($event)"></form-builder>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">{{'APPS_WIZARD.UPDATE_CONFIG_WIZARD_TEMPLATE_LABEL' | translate}}</div>
                    <div class="panel-body">
                        <form-builder *ngIf="isInMode(ComponentMode.CREATE) || !app.configurationUpdateTemplate" [form]="configTemplateService.getConfigUpdateTemplate()" (change)="setUpdateConfigTemplate($event)"></form-builder>
                        <form-builder *ngIf="isInMode(ComponentMode.EDIT) && app.configurationUpdateTemplate" [form]="app.configurationUpdateTemplate.template" (change)="setUpdateConfigTemplate($event)"></form-builder>
                    </div>
                </div>
            </div>
            <button class="btn btn-success pull-right" [disabled]="appDeploymentForm.invalid"  (click)="nextStep()" [display]="appDeploymentForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}} </button>
        </div>
    </div>
    <div *ngIf="activeStepIndex === 5">
        <app-apppreview [app]="app" [logo]="logo[0]" [screenshots]="screenshots"></app-apppreview>
        <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <button class="btn btn-success pull-right" (click)="sendCreateRequest()" *ngIf="activeStepIndex == 5 && isInMode(ComponentMode.CREATE)" [disabled]="isInvalidDescriptions()">{{'APPS_WIZARD.SUBMIT_BUTTON' | translate}}</button>
        <button class="btn btn-success pull-right" (click)="sendUpdateRequest()" *ngIf="activeStepIndex == 5 && isInMode(ComponentMode.EDIT)" [disabled]="isInvalidDescriptions()">{{'APPS_WIZARD.SUBMIT_BUTTON' | translate}}</button>
    </div>
    <button class="btn btn-warning pull-left" (click)="previousStep()" *ngIf="activeStepIndex != 0">{{'APPS_WIZARD.PREVIOUS_BUTTON' | translate}}</button>

<nmaas-modal>
    <div class="nmaas-modal-header">
        <h4 style="text-align: center" *ngIf="isInMode(ComponentMode.CREATE)">{{'APPS_WIZARD.NEW_APP_MODAL.HEADER' | translate}}</h4>
        <h4 style="text-align: center" *ngIf="isInMode(ComponentMode.EDIT)">{{'APPS_WIZARD.EDIT_APP_MODAL.HEADER' | translate}}</h4>
    </div>
    <div class="nmaas-modal-body">
        <div class="form-group text-center">
            <p *ngIf="isInMode(ComponentMode.CREATE)">{{'APPS_WIZARD.NEW_APP_MODAL.BODY' | translate}}</p>
            <p *ngIf="isInMode(ComponentMode.EDIT)">{{'APPS_WIZARD.EDIT_APP_MODAL.BODY' | translate}}</p>
        </div>
    </div>
    <div class="nmaas-modal-footer">
        <button class="btn btn-danger center-block" [routerLink]="['/management/apps']">{{'APPS_WIZARD.NEW_APP_MODAL.BACK_TO_APP_MANAGEMENT_BUTTON' | translate}}</button>
    </div>
</nmaas-modal>