<nmaas-modal [styleModal]="'info'">
    <div class="nmaas-modal-header">
        {{'APP_INSTANCE.SHELL' | translate}}
    </div>
    <div class="nmaas-modal-body" style="min-height: 200px; width: 100%">
        <div class="list-group">
            <a class="list-group-item" *ngFor="let pod of pods" [routerLink]="url + '/shell/' + pod.name">{{pod.displayName}}</a>
        </div>
    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="modal.hide()">{{'ADD_MEMBERS_MODAL.HIDE_BUTTON' | translate}}</button>
    </div>
</nmaas-modal>
