.deploy-param-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    list-style:none;
}

.margin-right {
    margin-right: 20px;
}

.panel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.double-form:last-of-type {
    padding-right: 0;
}

.double-form:first-of-type {
    padding-left: 0;
}

.basic-info-header {
    margin-left: -15px;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.icon-black{
    color: black;
    cursor: pointer;
}

.icon-bigger{
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}
