<div class="panel panel-default">
	<div class="panel-heading">Password</div>
	<div class="panel-body">
		<form [formGroup]="passwordForm"
			(submit)="submit()">
			<div class="form-group">
				<label for="password">Password</label> <input type="password"
					id="password" class="form-control" formControlName="password"
					[formGroup]="passwordForm" placeholder="password">
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm password</label> <input
					type="password" id="confirmPassword" class="form-control"
					formControlName="confirmPassword" [formGroup]="passwordForm"
					placeholder="confirm password">
			</div>
			<div class="alert alert-danger"
				*ngIf="passwordForm.controls.confirmPassword.errors?.validateEqual">Password
				not match</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
