<nmaas-modal>
	<div class="nmaas-modal-header text-center">
		{{'PASSWORD.HEADER' | translate}}
	</div>
	<div class="nmaas-modal-body">
		<div class="panel-body">
			<form [formGroup]="passwordForm"
				  (submit)="submit()">
				<div class="form-group">
					<label for="password">{{'PASSWORD.PASSWORD' | translate}}</label>
					<input type="password" id="password" class="form-control" formControlName="password" [formGroup]="passwordForm" placeholder="{{'PASSWORD.PASSWORD' | translate}}">
				</div>
				<div class="form-group" [ngClass]="{'has-error':  passwordForm.controls.newPassword.invalid && passwordForm.controls.newPassword.dirty,
 					 	'has-success': passwordForm.controls.newPassword.valid && passwordForm.controls.newPassword.dirty}">
					<label for="newPassword">{{'PASSWORD.NEW_PASSWORD' | translate}}</label> <input type="password"
																		 id="newPassword" class="form-control" formControlName="newPassword"
																		 [formGroup]="passwordForm" placeholder="{{'PASSWORD.NEW_PASSWORD' | translate}}">
				</div>
				<div class="form-group" [ngClass]="{'has-error': passwordForm.controls.confirmPassword.invalid && (passwordForm.controls.confirmPassword.dirty || passwordForm.controls.newPassword.dirty) ,
 					 	'has-success': passwordForm.controls.confirmPassword.valid && passwordForm.controls.confirmPassword.dirty}">
					<label for="confirmPassword">{{'PASSWORD.NEW_PASSWORD_CONFIRMATION' | translate}}</label> <input
						type="password" id="confirmPassword" class="form-control"
						formControlName="confirmPassword" [formGroup]="passwordForm"
						placeholder="{{'PASSWORD.NEW_PASSWORD_CONFIRMATION' | translate}}">
				</div>
				<div class="alert alert-danger"
					 *ngIf="passwordForm.controls.confirmPassword.errors?.validateEqual">{{'PASSWORD.PASSWORD_NOT_MATCH' | translate}}</div>
				<div class="alert alert-danger" *ngIf="errormsg">{{errormsg}}</div>
			</form>
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button type="submit" class="btn btn-primary" (click)="submit()">{{'PASSWORD.SUBMIT_BUTTON' | translate}}</button>
		<button class="btn btn-danger" (click)="hide()">Cancel</button>
	</div>
</nmaas-modal>

