<nmaas-modal>
	<div class="nmaas-modal-header">Create new instance of {{app?.name}} instance</div>
	<div class="nmaas-modal-body">
		<div class="form-group">
			<label for="name">Instance name</label> 
			<input type="text" class="form-control" id="name" [(ngModel)]="name">
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
		<button type="button" class="btn btn-primary" (click)="create()">Create</button>
	</div>
<nmaas-modal>