		
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
					<div class="thumbnail">
						<img src="assets/images/app-logo-example.png">
					</div>
				</div>
				<div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<h2>{{app?.name}}</h2>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">				
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default">WWW</button>
								<button type="button" class="btn btn-default">Source</button>
								<button type="button" class="btn btn-default">Issues</button>
							</div>
						
						</div>
					</div>
					
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							Version: {{app?.version}}
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							License: {{app?.license}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							Tags: {{app?.tags}}
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<p>
								<span>Rating:</span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="text">4.4</span>
							</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">	
							<p>
								<span>Your rating:</span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="text">3</span>
							</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class = "btn-group pull-right">
								<a href="app/install" class = "btn btn-danger">Unsubscribe</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		
			<div class='row'>
				<h3>Installation progress</h3>
				<hr>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="stepwizard">
						<div class="stepwizard-row setup-panel">
							<div class="stepwizard-step">
								<a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
								<p>Subscription validation</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-2" type="button" class="btn btn-primary btn-circle">2</a>
								<p>Environment creation</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
								<p>App container deployment</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
								<p>Management VPN configuration</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
								<p>App final configuration</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
								<p>App connectivity test</p>
							</div>
							<div class="stepwizard-step">
								<a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
								<p>App ready</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<table class = "table table-hover table-condensed">
				   
				   <thead>
					  <tr>
						 <th>Step #</th>
						 <th>Name</th>
						 <th>Log</th>
					  </tr>
				   </thead>
				   
				   <tbody>
					  <tr class="success">
						 <td>1</td>
						 <td>Subscription validation</td>
						 <td>
							<p class="text-success">ACTION 1: DONE</p>
							<p class="text-success">ACTION 2: DONE</p>
							<p class="text-warning">ACTION 3: DONE, but some there are some warnings here.</p>
							<p class="text-success">ACTION 4: DONE</p>
							<p class="text-success">ACTION 5: DONE</p>
						 </td>
					  </tr>

  					  <tr class="active">
						 <td>2</td>
						 <td>Environment creation</td>
						 <td>
							<p class="text-success">ACTION 1: DONE</p>
							<p class="text-success">ACTION 2: DONE</p>
							<p class="text-primary">ACTION 3: PROGRESS</p>							
						 </td>
					  </tr>

				   </tbody>
				</table>
			</div>
			
			<div class="row disabled">
				<h3>Configuration</h3>
				<hr>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4>Add IP address for configuration management</h4>
					<form class = "form-inline" role = "form">
						<div class="form-group">
							<label for = "ipaddress">IP Address:</label>
							<input type="text" name="ipaddress" class="form-control-sm" placeholder="IP Address here">
							<button type = "submit" class = "btn btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h4>Add IP address for configuration management</h4>
					<form class = "form-inline" role = "form">
						<div class="form-group">
							<label for = "ipaddress">IP Address:</label>
							<input type="text" name="ipaddress" class="form-control-sm" placeholder="IP Address here">
							<button type = "submit" class = "btn btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</form>
				</div>
				
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class = "btn-group pull-right">
						<a href="#" class = "btn btn-success">Apply configuration</a>
						<a href="#" class = "btn btn-default">Reset</a>
					</div>
				</div>
			</div>
			<hr>
		</div>
	
