<nmaas-modal>
	<div class="nmaas-modal-header">Create new instance of {{app?.name}} instance</div>
	<div class="nmaas-modal-body">
		<div class="form-group">
			<label for="name">Instance name</label> 
			<input type="text" class="form-control" id="name" [(ngModel)]="name">
			<label for="userDomains">Available domains: </label>
			<select id="userDomains" class="form-control" [(ngModel)]="domainId">				
				<option *ngFor="let domain of userDomains" [value]="domain.id">{{domain.name}}</option>
			</select>	
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
		<button type="button" class="btn btn-primary" (click)="create()">Create</button>
	</div>
<nmaas-modal>