.no-spin, .no-spin:hover, .no-spin:focus {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    min-height: 30px;
}
.row-container:first-of-type {
    margin-top: 0;
}

.row-sub {
    flex-basis: 100%;
}


.custom-collapse[aria-expanded="false"] {
    line-height: 1;
    padding: 4px 4px 2px;
}

.custom-collapse[aria-expanded="false"]:after {
    font-family: "Glyphicons Halflings", sans-serif;
    content:"\e114";
    /*margin-left: .2px;*/
}

.custom-collapse[aria-expanded="true"] {
    line-height: 1;
    padding: 3px 4px;
}

.custom-collapse[aria-expanded="true"]:after {
    font-family: "Glyphicons Halflings", sans-serif;
    content:"\e113";
    /*margin-left: .2px;*/
}

.no-bullet {
    list-style-type: none;
}

.no-padding-top {
    padding-top: 0!important;
}
