<div class="row">
	<h3>Domain details:</h3>
	<form *ngIf="domain" (submit)="submit()" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [disabled]="isInMode(ComponentMode.VIEW) || authService.hasRole('ROLE_OPERATOR')" id="name" name="name"
					[(ngModel)]="domain.name" #name="ngModel" required>
				<div *ngIf="name.invalid && (name.dirty || name.touched)"
					class="alert alert-danger">
					<div *ngIf="name.errors.required">Name is required.</div>
				</div>
			</div>
		</div>


		<div class="form-group" *ngIf="!isInMode(ComponentMode.EDIT)">
			<label for="codename" class="col-sm-2 control-label">Codename:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [disabled]="isInMode(ComponentMode.VIEW)" id="codename"
					name="codename" pattern="[a-zA-Z0-9_]*"
					[(ngModel)]="domain.codename" #codename="ngModel" minlength="2" maxlength="8" required>
				<div *ngIf="codename.invalid && (codename.dirty || codename.touched)"
					class="alert alert-danger">

					<div *ngIf="codename.errors.required">Codename is required.</div>
					<div *ngIf="codename.errors.pattern">Codename must contains a-z, A-Z, 0_9, _ characters</div>
					<div *ngIf="codename.errors.minlength || codename.errors.maxlength">Codename has to be 2-8 characters long.</div>

				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="active" class="col-sm-2 control-label">Active:</label>
			<div class="col-sm-10">
				<input type="checkbox" class="btn btn-default" [disabled]="isInMode(ComponentMode.VIEW) || authService.hasRole('ROLE_OPERATOR')" id="active"
					name="active" [(ngModel)]="domain.active">
			</div>
		</div>

		<hr/>

		<div class="form-group" *ngIf="domain.id !== domainService.getGlobalDomainId()">
			<label for="kubernetesNamespace" class="col-sm-2 control-label">Kubernetes namespace:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [disabled]="isInMode(ComponentMode.VIEW)" id="kubernetesNamespace"
				name="kubernetesNamespace" [(ngModel)]="domain.kubernetesNamespace">
			</div>
		</div>

        <div class="form-group" *ngIf="domain.id !== domainService.getGlobalDomainId()">
            <label for="kubernetesStorageClass" class="col-sm-2 control-label">Kubernetes storage class:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [disabled]="isInMode(ComponentMode.VIEW)" id="kubernetesStorageClass"
                       name="kubernetesStorageClass" [(ngModel)]="domain.kubernetesStorageClass">
            </div>
        </div>

		<div class="form-group" *ngIf="domain.id !== domainService.getGlobalDomainId() && isInMode(ComponentMode.CREATE)">
			<label for="dcnConfigured" class="col-sm-2 control-label">dcn Configured:</label>
			<div class="col-sm-10">
				<input type="checkbox" class="btn btn-default" [disabled]="isInMode(ComponentMode.VIEW)" id="dcnConfigured"
				name="dcnConfigured" [(ngModel)]="domain.dcnConfigured">
			</div>
		</div>

		<div class="form-group" *ngIf="domain.id !== domainService.getGlobalDomainId() && !isInMode(ComponentMode.CREATE)">
			<label for="dcnConfiguredButton" class="col-sm-2 control-label" *ngIf="domain.dcnConfigured">Dcn is marked as configured</label>
			<label for="dcnConfiguredButton" class="col-sm-2 control-label" *ngIf="!domain.dcnConfigured">Dcn is marked as not configured</label>
			<div class="col-sm-10">
				<button id="dcnConfiguredButton" type="button" name="dcnConfiguredButton" class="btn btn-primary" (click)="this.modal.show()" [disabled]="!isInMode(ComponentMode.EDIT)">Change value</button>
			</div>
		</div>

		<div class="form-group" *ngIf="!isInMode(ComponentMode.CREATE) && (authService.hasRole('ROLE_SUPERADMIN') || authService.hasRole('ROLE_OPERATOR'))">
			<label class="col-sm-2 control-label">Id in db:</label>
			<div class="col-sm-10">
				<p class="form-control-static">{{domain.id}}</p>
			</div>
		</div>

		<div class="panel panel-default" *ngIf="isInMode(ComponentMode.VIEW) && !authService.hasRole('ROLE_OPERATOR')">
			<div class="panel-heading">Domain users</div>
				<div class="panel-body">
        			<table class="table table-hover table-condensed">
            			<thead>
            				<tr>
                				<th *ngIf="authService.hasRole('ROLE_SUPERADMIN')">Id</th>
                				<th>Username</th>
                				<th>Roles</th>
                				<th>&nbsp;</th>
            				</tr>
            			</thead>

						<tbody>
							<ng-template ngFor let-user [ngForOf]="users">
								<tr>
									<td *ngIf="authService.hasRole('ROLE_SUPERADMIN')">{{user.id}}</td>
									<td>{{user.username}}</td>
									<td *ngIf="domainId == domainService.getGlobalDomainId()">
										<div *ngFor="let role of filterDomainNames(user); last as isLast">
											<span *ngIf="!isLast" style="float:left;padding-right: 3px">{{role.role | slice:5}}@{{this.getDomainName(role.domainId)|async}}, </span>
											<span *ngIf="isLast" style="float:left">{{role.role | slice:5}}@{{this.getDomainName(role.domainId)|async}}</span>
										</div>
									</td>
									<td *ngIf="domainId != domainService.getGlobalDomainId()">
										<span *ngFor="let role of this.getDomainRoleNames(user.roles)">
											{{role.role | slice:5}}
										</span>
									</td>
								</tr>
							</ng-template>

            			</tbody>
					</table>
				</div>
			</div>
		<button *ngIf="isInMode(ComponentMode.EDIT) || isInMode(ComponentMode.CREATE)" type="submit" class="btn btn-default" valid>Submit</button>
	</form>
	<div *ngIf="!domain">Not found.</div>
</div>

<nmaas-modal>
	<div class="nmaas-modal-header">
		<h3 style="text-align: center">Warning</h3>
	</div>
	<div class="nmaas-modal-body">
		<div class="form-group text-center">
			<p *ngIf="domain.dcnConfigured">This action will immediately remove dcn which was configured previously. Do you want to continue?</p>
			<p *ngIf="!domain.dcnConfigured">This action will immediately set dcn configuration. Do you want to continue?</p>
		</div>
	</div>
	<div class="nmaas-modal-footer text-center">
		<button class="btn btn-danger" style="display: inline-block" (click)="updateDcnConfigured()">Yes</button>
		<button class="btn btn-primary" style="display: inline-block" (click)="this.modal.hide()">Cancel</button>
	</div>
</nmaas-modal>