		<div class="container-fluid">
			<div class="row">
			<div class="col-lg-offset-5 col-lg-2 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
				<div class="panel panel-default login-vertical-offset">
					<div class="panel-heading">
						<div class="text-center">
							<img src="assets/images/geant-logo-small-purple.png">
							<h2 class="panel-title">NMaaS AppMarket</h2>
						</div>
					</div>
					<div class="panel-body">
						<form role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
							<fieldset>
							<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
								<label for="username">Username</label>
								<input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required >
								<div *ngIf="f.submitted && !username.valid">Username is required</div>
							</div>
							<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">	
								<label for="password">Password</label>
								<input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required >			
								<div *ngIf="f.submitted && !password.valid">Password is required</div>
							</div>
							<div class="form-group">
								<button type = "submit" class = "btn btn-primary btn-lg btn-block" [disabled]="loading" >Login</button>
								<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
							<div *ngIf="error" class="alert alert-danger">{{error}}</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
