		<div class="container">
			<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default login-vertical-offset">
					<div class="panel-heading">
						<div class="text-center">
							<img src="assets/images/geant-logo-small-purple.png">
							<h2 class="panel-title">NMaaS AppMarket</h2>
						</div>
					</div>
					<div class="panel-body">
						<form role="form" action="/">
							<fieldset>
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" name="username" class="form-control" placeholder="Username">
							</div>
							<div class="form-group">	
								<label for="password">Password</label>
								<input type="password" name="password" class="form-control" placeholder="Username">			
							</div>
							<div class="form-group">
								<button type = "submit" class = "btn btn-primary btn-lg btn-block">Login</button>
							</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
