										 <span [ngClass]="(rate?.rate >= 1) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
										 <span [ngClass]="(rate?.rate >= 2) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
										 <span [ngClass]="(rate?.rate >= 3) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
										 <span [ngClass]="(rate?.rate >= 4) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
										 <span [ngClass]="(rate?.rate >= 5) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
										 <span class="text">{{rate?.rate}}</span>	