<div class="col-sm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
  <h3>{{'LANGUAGE_MANAGEMENT.TITLE' | translate }}</h3>
  <hr>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{'LANGUAGE_MANAGEMENT.LANGUAGE' | translate }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <ng-template ngFor let-lang [ngForOf]="languages" let-i="index">
        <tr>
          <td><img alt="language" src="assets/images/country/{{lang.language}}_circle.png" style="height: 22px;"></td>
          <td>{{'LANGUAGE.' + lang.language.toUpperCase() + '_LABEL' | translate}}</td>
          <td class="text-right">
            <button [routerLink]="['/admin/languages/' + lang.language]" class="btn btn-sm btn-primary">{{'LANGUAGE_MANAGEMENT.EDIT_BUTTON' | translate }}</button>
            <button *ngIf="lang.enabled" class="btn btn-sm btn-danger" (click)="changeLanguageState(lang)">{{'LANGUAGE_MANAGEMENT.LANGUAGE_DISABLED' | translate }}</button>
            <button *ngIf="!lang.enabled" class="btn btn-sm btn-danger" (click)="changeLanguageState(lang)">{{'LANGUAGE_MANAGEMENT.LANGUAGE_ENABLED' | translate }}</button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<nmaas-modal (click)="modal.hide()">
  <div class="nmaas-modal-header">{{'LANGUAGE_MANAGEMENT.MODAL.HEADER' | translate}}</div>
  <div class="nmaas-modal-body">
    {{'LANGUAGE_MANAGEMENT.LANGUAGE_ERROR' | translate}}
  </div>
  <div class="nmaas-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">{{'LANGUAGE_MANAGEMENT.MODAL.CLOSE_BUTTON' | translate}}</button>
  </div>
</nmaas-modal>