<nmaas-modal>
    <div class="nmaas-modal-header">Restart confirmation</div>
    <div class="nmaas-modal-body">
        <div class="form-group">
            <div>
                <p>Do you want to restart this application instance?</p>
            </div>
        </div>
    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-danger" (click)="restart()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="modal.hide()">Cancel</button>
    </div>
</nmaas-modal>
