<div class="page-header">
	<h3 *ngIf="!isInMode(ComponentMode.CREATE)">User {{user?.username}} </h3>
	<h3 *ngIf="isInMode(ComponentMode.CREATE)">Create user</h3>
</div>
<nmaas-userdetails *ngIf="!isInMode(ComponentMode.CREATE)" [user]="user" [mode]="getCurrentMode()" [allowedModes]="[ComponentMode.VIEW, ComponentMode.EDIT]" (onSave)="onSave($event)"></nmaas-userdetails>
<nmaas-userdetails *ngIf="isInMode(ComponentMode.CREATE)" [mode]="getCurrentMode()" (onSave)="onSave($event)"></nmaas-userdetails>

<nmaas-password *ngIf="!isInMode(ComponentMode.CREATE)" (passwordSubmit)="onPasswordSubmit($event)"></nmaas-password>
<nmaas-userprivileges *ngIf="!isInMode(ComponentMode.CREATE)" [allowedModes]="[ComponentMode.VIEW, ComponentMode.CREATE]" [user]="user"></nmaas-userprivileges>

