.ui-steps .ui-steps-item {
    width: 14%;
}

.ui-state-disabled .ui-steps-title{
    display: none !important;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: rgb(51,122,183);
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    color: rgb(51,122,183);
}

.form-group{
    padding-bottom: 10px;
}

.ui-widget {
    font-size: 12px !important;
    font-family: sans-serif !important;
}

.ui-chips-input-token input {
    font-size: 12px !important;
    font-family: sans-serif !important;
}

.ui-chips-token {
    font-size: 12px !important;
    font-family: sans-serif !important;
}

.no-spin, .no-spin:hover, .no-spin:focus {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
