<h3 *ngIf="isInMode(ComponentMode.CREATE)" xmlns="http://www.w3.org/1999/html">{{ 'APPS_WIZARD.NEW_APP_VERSION_WIZARD_HEADER' | translate: {'app_name': appName} }}</h3>
<h3 *ngIf="isInMode(ComponentMode.EDIT) && app">{{ 'APPS_WIZARD.EDIT_APP_VERSION_WIZARD_HEADER' | translate: {'app_name': appName, 'app_version': app?.version} }}</h3>

<p-steps [model]="steps" [(activeIndex)]="activeStepIndex"></p-steps>
<hr/>

<div *ngIf="activeStepIndex === 0">
  <div class="panel">
    <div class="bs-callout bs-callout-primary">
      <h4>{{'APPS_WIZARD.FIRST_PAGE_HEADER' | translate }}</h4>
      {{'APPS_WIZARD.FIRST_PAGE_MESSAGE' | translate }}
    </div>
  </div>
  <input type="checkbox" [checked]="rulesAccepted" (click)="changeRulesAcceptedFlag()"> {{'APPS_WIZARD.ACCEPT_RULES_CHECKBOX' | translate}}
  <button type="button" class="btn btn-success pull-right" (click)="nextStep()" [disabled]="!rulesAccepted" [display]="!rulesAccepted" tooltip="{{'APPS_WIZARD.ACCEPT_RULES_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
</div>

<div *ngIf="activeStepIndex === 1">
  <div class="bs-callout bs-callout-primary">
    {{'APPS_WIZARD.BASIC_APP_INFO_STEP_INFO' | translate }}
  </div>
  <div *ngIf="app">
    <div class="panel">
      <form class="form-horizontal" #basicInfoForm="ngForm">
        <div class="form-group form-group-sm">
          <label for="appName" class="control-label">{{'APPS_WIZARD.NAME_LABEL' | translate}} *</label>
          <br>
          <input type="text" id="appName" class="form-control" required [disabled]="true" [(ngModel)]="app.name" name="appName" tooltip="{{'APPS_WIZARD.NAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
        </div>
        <div class="form-group form-group-sm"
             [ngClass]="{'has-error':  version.invalid && (version.dirty || version.touched),
 			    		 	'has-success': version.valid && (version.dirty || version.touched)}">
          <label for="appVersion" class="control-label">{{'APPS_WIZARD.VERSION_LABEL' | translate}} *</label>
          <br>
          <input type="text" id="appVersion" class="form-control" required [disabled]="isInMode(ComponentMode.EDIT)" [(ngModel)]="app.version" name="version" #version="ngModel" tooltip="{{'APPS_WIZARD.VERSION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
        </div>
      </form>
    </div>
    <button type="button" class="btn btn-success pull-right" (click)="nextStep()" [disabled]="basicInfoForm.invalid" [display]="basicInfoForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}}</button>
  </div>
</div>

<div *ngIf="activeStepIndex === 2">
  <div class="bs-callout bs-callout-primary">
    {{'APPS_WIZARD.APP_DEPLOYMENT_SPEC_STEP_INFO' | translate }}
  </div>
  <div class="panel">
    <div class="panel-heading">{{'APPS_WIZARD.APP_DEPLOYMENT_HEADER' | translate }}</div>
    <form class="form-horizontal" #appDeploymentForm="ngForm">
      <div class="panel-body">
        <div class="form-group form-group-sm" [ngClass]="{'has-error':  kubernetesTemplateChartName.invalid && (kubernetesTemplateChartName.dirty || kubernetesTemplateChartName.touched),
 			    		 	'has-success': kubernetesTemplateChartName.valid && (kubernetesTemplateChartName.dirty || kubernetesTemplateChartName.touched)}">
          <label *ngIf="!isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartName" class="control-label">{{'APPS_WIZARD.CHART_NAME_LABEL' | translate}}</label>
          <label *ngIf="isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartName" class="control-label">{{'APPS_WIZARD.CHART_NAME_LABEL' | translate}} *</label>
          <br>
          <input type="text" class="form-control" id="kubernetesTemplateChartName" name="kubernetesTemplateChartName" #kubernetesTemplateChartName="ngModel"
                 [(ngModel)]="app.appDeploymentSpec.kubernetesTemplate.chart.name" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CHART_NAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
        </div>
        <div class="form-group form-group-sm">
          <label *ngIf="!isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartVersion" class="control-label">{{'APPS_WIZARD.CHART_VERSION_LABEL' | translate}}</label>
          <label *ngIf="isInMode(ComponentMode.EDIT)" for="kubernetesTemplateChartVersion" class="control-label">{{'APPS_WIZARD.CHART_VERSION_LABEL' | translate}} *</label>
          <br>
          <input type="text" class="form-control" id="kubernetesTemplateChartVersion" name="kubernetesTemplateChartVersion"
                 [(ngModel)]="app.appDeploymentSpec.kubernetesTemplate.chart.version" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CHART_VERSION_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
        </div>
        <div class="form-group form-group-sm">
          <label for="kubernetesTemplateMainDeploymentName" class="control-label">{{'APPS_WIZARD.MAIN_DEPLOYMENT_NAME_LABEL' | translate}}</label>
          <br>
          <input type="text" class="form-control" id="kubernetesTemplateMainDeploymentName" name="kubernetesTemplateMainDeploymentName"
                 [(ngModel)]="app.appDeploymentSpec.kubernetesTemplate.mainDeploymentName" tooltip="{{'APPS_WIZARD.MAIN_DEPLOYMENT_NAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
        </div>
        <div class="form-group form-group-sm">
          <label for="exposesWebUI" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.EXPOSE_WEB_UI' | translate }}</label>
          <div class="col-sm-10">
            <input type="checkbox" id="exposesWebUI" name="exposesWebUI" [defaultChecked]="false" [(ngModel)]="app.appDeploymentSpec.exposesWebUI" tooltip="{{'APPS_WIZARD.EXPOSE_WEB_UI_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label for="allowSshAccess" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.ALLOW_SSH_ACCESS' | translate }}</label>
          <div class="col-sm-10">
            <input type="checkbox" id="allowSshAccess" name="allowSshAccess" [defaultChecked]="false" [(ngModel)]="app.appDeploymentSpec.allowSshAccess" tooltip="{{'APPS_WIZARD.ALLOW_SSH_ACCESS_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <h4>{{'APPS_WIZARD.DEPLOY_PARAMETERS' | translate}}</h4>
          <app-static-global-deploy-parameters-edit
                  [appDeploymentSpec]="app.appDeploymentSpec"
                  [propertyName]="'deployParameters'"
                  [keyValidator]="deployParamKeyValidator"
                  [keyValidatorMessage]="keyValidatorMessage"
                  [keyValidatorErrorKey]="keyErrorKey">

          </app-static-global-deploy-parameters-edit>
        </div>

        <div class="form-group form-group-sm">
          <h4>{{'APPS_WIZARD.STATIC_GLOBAL_DEPLOY_PARAMETERS' | translate}}</h4>
          <app-static-global-deploy-parameters-edit
                  [appDeploymentSpec]="app.appDeploymentSpec"
                  [propertyName]="'globalDeployParameters'">

          </app-static-global-deploy-parameters-edit>
        </div>

        <div class="form-group form-group-sm">
          <h4>{{'APPS_WIZARD.STORAGE_VOLUMES' | translate}}</h4>
          <ul *ngIf="app.appDeploymentSpec.storageVolumes">
            <li *ngFor="let s of app.appDeploymentSpec.storageVolumes; let i=index" class="no-bullet-list">
              <app-storage-volume-edit [storageVolume]="s" [id]="i" [storageVolumeTypes]="storageVolumeTypeOptions()" (output)="removeStorageVolume($event)"></app-storage-volume-edit>
            </li>
          </ul>
          <button class="btn btn-success" role="button" (click)="addNewStorageVolume()">{{'APPS_WIZARD.NEW_STORAGE_VOLUME' | translate}}</button>
        </div>

        <div class="form-group form-group-sm">
          <h4>{{'APPS_WIZARD.ACCESS_METHODS' | translate}}</h4>
          <ul *ngIf="app.appDeploymentSpec.accessMethods">
            <li *ngFor="let a of app.appDeploymentSpec.accessMethods; let i=index" class="no-bullet-list">
              <app-access-method-edit [accessMethod]="a" [id]="i" [accessMethodTypes]="accessMethodTypeOptions()" (output)="removeAccessMethod($event)"></app-access-method-edit>
            </li>
          </ul>
          <button class="btn btn-success" role="button" (click)="addNewAccessMethod()">{{'APPS_WIZARD.NEW_ACCESS_METHOD' | translate}}</button>
        </div>

      </div>
    </form>
  </div>
  <button type="button" class="btn btn-success pull-right" [disabled]="appDeploymentForm.invalid"  (click)="nextStep()" [display]="appDeploymentForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}} </button>
</div>

<div *ngIf="activeStepIndex === 3">
  <div class="bs-callout bs-callout-primary">
    {{'APPS_WIZARD.CONFIG_TEMPLATES_STEP_INFO' | translate }}
  </div>
  <div *ngIf="app">
    <div class="panel">
      <div class="panel-heading">{{'APPS_WIZARD.APP_CONFIG_TEMPLATES_HEADER' | translate}}</div>
      <form class="form-horizontal" #appConfigForm="ngForm">
        <div class="panel-body">
          <div class="form-group form-group-sm">
            <label for="configFileRepositoryRequired" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.REPOSITORY_REQUIRED_LABEL' | translate}}</label>
            <div class="col-sm-10">
              <input type="checkbox" id="configFileRepositoryRequired" name="configFileRepositoryRequired" (change)="changeDefaultElementInForms()"
                     [defaultChecked]="false" [(ngModel)]="app.appConfigurationSpec.configFileRepositoryRequired" tooltip="{{'APPS_WIZARD.REPOSITORY_REQUIRED_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="configUpdateEnabled" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.CONFIG_UPDATE_ENABLED' | translate}}</label>
            <div class="col-sm-10">
              <input type="checkbox" id="configUpdateEnabled" name="configUpdateEnabled" [(ngModel)]="app.appConfigurationSpec.configUpdateEnabled">
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label for="basicAuth" style="text-align: left; padding-left: 0;" class="col-sm-2 control-label">{{'APPS_WIZARD.BASIC_AUTH_LABEL' | translate}}</label>
            <div class="col-sm-10">
              <input type="checkbox" id="basicAuth" name="basicAuth" (change)="changeBasicAuthInForms()" [defaultChecked]="hasAlreadyBasicAuth()" [(ngModel)]="basicAuth" tooltip="{{'APPS_WIZARD.BASIC_AUTH_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
            </div>
          </div>
          <div *ngIf="app.appConfigurationSpec.configFileRepositoryRequired">
            <div *ngFor="let configTemplate of configFileTemplates; let i=index">
              <div class="form-group form-group-sm" [ngClass]="{'has-error':  configFileName.invalid && (configFileName.dirty || configFileName.touched),
 			    		 	        'has-success': configFileName.valid && (configFileName.dirty || configFileName.touched)}">
                <label *ngIf="isInMode(ComponentMode.CREATE)" for="configFileName-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_FILENAME_LABEL' | translate}}</label>
                <label *ngIf="isInMode(ComponentMode.EDIT)" for="configFileName-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_FILENAME_LABEL' | translate}} *</label>
                <button type="button" class="btn btn-xs btn-danger" style="float: right;" (click)="removeConfig(i)" [disabled]="configFileTemplates.length <= 1"><span class="glyphicon glyphicon-remove"></span></button>
                <br>
                <input type="text" class="form-control" id="configFileName-{{i}}" name="configFileName-{{i}}" #configFileName="ngModel"
                       [(ngModel)]="configTemplate.configFileName" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CONFIG_FILENAME_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions">
              </div>
              <div class="form-group form-group-sm" [ngClass]="{'has-error':  configFileTemplateContent.invalid && (configFileTemplateContent.dirty || configFileTemplateContent.touched),
 			    		 	        'has-success': configFileTemplateContent.valid && (configFileTemplateContent.dirty || configFileTemplateContent.touched)}">
                <label *ngIf="isInMode(ComponentMode.CREATE)" for="configFileTemplateContent-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_CONTENT_LABEL' | translate}}</label>
                <label *ngIf="isInMode(ComponentMode.EDIT)" for="configFileTemplateContent-{{i}}" class="control-label">{{'APPS_WIZARD.CONFIG_CONTENT_LABEL' | translate}} *</label>
                <br>
                <textarea class="form-control" id="configFileTemplateContent-{{i}}" name="configFileTemplateContent-{{i}}" #configFileTemplateContent="ngModel" rows="6"
                          [(ngModel)]="configTemplate.configFileTemplateContent" [required]="isInMode(ComponentMode.EDIT)" tooltip="{{'APPS_WIZARD.CONFIG_CONTENT_TOOLTIP' | translate}}" [display]="true" [options]="defaultTooltipOptions"></textarea>
              </div>
            </div>
            <button type="button" class="btn btn-primary" style="margin-left: -15px;" (click)="addConfig()">{{'APPS_WIZARD.ADD_CONFIG_BUTTON' | translate }}</button>
          </div>

        </div>
      </form>
      <hr>
      <div class="panel">
        <div class="panel-heading">{{'APPS_WIZARD.CONFIG_WIZARD_TEMPLATE_LABEL' | translate}}</div>
        <div class="panel-body">
          <form-builder *ngIf="formDisplayChange && app.configWizardTemplate.template" [form]="app.configWizardTemplate.template" (change)="setConfigTemplate($event)"></form-builder>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success pull-right" [disabled]="appConfigForm.invalid"  (click)="nextStep()" [display]="appConfigForm.invalid" tooltip="{{'APPS_WIZARD.DISABLED_NEXT_BUTTON_TOOLTIP' | translate}}" [options]="defaultTooltipOptions">{{'APPS_WIZARD.NEXT_BUTTON' | translate}} </button>
  </div>
</div>
<div *ngIf="activeStepIndex === 4">
  <app-apppreview [app]="app" [logo]="logo[0]" [screenshots]="screenshots"></app-apppreview>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <button type="button" class="btn btn-success pull-right" (click)="addApplication()" *ngIf="activeStepIndex === 4 && isInMode(ComponentMode.CREATE)">{{'APPS_WIZARD.SUBMIT_BUTTON' | translate}}</button>
  <button type="button" class="btn btn-success pull-right" (click)="updateApplication()" *ngIf="activeStepIndex === 4 && isInMode(ComponentMode.EDIT)">{{'APPS_WIZARD.SUBMIT_BUTTON' | translate}}</button>
</div>
<button type="button" class="btn btn-warning pull-left" (click)="previousStep()" *ngIf="activeStepIndex != 0">{{'APPS_WIZARD.PREVIOUS_BUTTON' | translate}}</button>

<nmaas-modal>
  <div class="nmaas-modal-header">
    <h4 style="text-align: center" *ngIf="isInMode(ComponentMode.CREATE)">{{'APPS_WIZARD.NEW_APP_MODAL.HEADER' | translate}}</h4>
    <h4 style="text-align: center" *ngIf="isInMode(ComponentMode.EDIT)">{{'APPS_WIZARD.EDIT_APP_MODAL.HEADER' | translate}}</h4>
  </div>
  <div class="nmaas-modal-body">
    <div class="form-group text-center">
      <p *ngIf="isInMode(ComponentMode.CREATE)">{{'APPS_WIZARD.NEW_APP_MODAL.BODY' | translate}}</p>
      <p *ngIf="isInMode(ComponentMode.EDIT)">{{'APPS_WIZARD.EDIT_APP_MODAL.BODY' | translate}}</p>
    </div>
  </div>
  <div class="nmaas-modal-footer">
    <button type="submit" class="btn btn-danger center-block" [routerLink]="['/admin/apps']">{{'APPS_WIZARD.NEW_APP_MODAL.BACK_TO_APP_MANAGEMENT_BUTTON' | translate}}</button>
  </div>
</nmaas-modal>
