		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" data-toggle="tooltip" data-placement="right" title="Network Management as a Service homepage"><img src="assets/images/logo-small.png" style="margin: 5px"
									 alt="Network Management as a Service"></a>
				</div>
				<div style="display: inline-block" class="pull-right">
					<button class="btn navbar-btn" data-toggle="collapse" data-target="#login-register-panel">Login/Register</button>
				</div>
			</div>
		</nav>
