		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-welcome">
			<div class="container-fluid">
				<div class="navbar-header" style="display: inline-block">
					<a routerLink="/" data-toggle="tooltip" data-placement="right" title="Network Management as a Service homepage"><img src="assets/images/logo-small.png" style="margin: 5px"
									 alt="Network Management as a Service"></a>
				</div>
				<div style="display: inline-block" class="pull-right" *ngIf="router.url !== '/about'">
					<button class="btn navbar-btn" (click)="router.navigate(['/about'])">{{ 'NAVBAR.ABOUT' | translate }}</button>
					<button class="btn navbar-btn" data-toggle="collapse" data-target="#login-register-panel">{{ 'NAVBAR.LOGIN_REGISTER' | translate }}</button>
				</div>
				<div style="display: inline-block" class="pull-right" *ngIf="router.url == '/about'">
					<button class="btn navbar-btn" (click)="router.navigate(['/welcome'])">{{ 'NAVBAR.BACK' | translate }}</button>
				</div>
				<div class="pull-right navbar-btn" style="display: inline-block">
					<ul>
					<li class="dropdown language-selector pull-right" style="list-style-type: none; margin: 5px; vertical-align: middle;">
						<span>{{'NAVBAR.LANGUAGE' | translate}}:</span>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
							<img alt="language" src="{{[getPathToCurrent()]}}" class="lang-circle-icon" />
						</a>
						<ul class="dropdown-menu pull-right">
							<li *ngFor="let lang of languages" [ngClass]="{'active': getCurrent() == lang}">
								<a (click)="useLanguage(lang)">
									<img alt="lang flag" class="lang-circle-icon" src="assets/images/country/{{lang}}_circle.png" />
									<span>{{lang.toUpperCase()}}</span>
								</a>
							</li>
						</ul>
					</li>
					</ul>
				</div>

			</div>
		</nav>
