<nmaas-navbar></nmaas-navbar>
<div class="container">
	<div class="panel panel-default login-vertical-offset" id="accordion" *ngIf="changelog">
		<div class="panel-heading">
			<h3 class="panel-title text-center">Changelog</h3>
		</div>
		<div class="panel-body">
			<div *ngFor="let version of changelog?.versions; let i = index">
				<div class="card panel panel-default">
					<h3 class="panel-title text-center">
						<button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i.toString()">
							{{version?.verNo}} {{version?.date}}
						</button>
					</h3>
				</div>
				<div [attr.id]="'collapse'+i.toString()" class="collapse" data-parent="#accordion">
					<div class="card-body" *ngFor="let t of version?.topic">
						<span>{{t?.title}}</span><br>
						{{t?.tags}}<br>
						{{t?.description}} <br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nmaas-footer></nmaas-footer>