<div>
  <div id="service-denied" class="col-md-offset-4 col-sm-offset-3 col-xs-offset-1 col-md-4 col-sm-6 col-xs-10">
    <div class="border-denied col-xs-12" style="width: 100%; height: 100%;">
      <div class="col-xs-9"><h1 class="text-danger">Ooops!</h1></div>
      <div class="col-xs-3">
        <div class="dropdown">
          <a style="display: inline-block" class="dropdown-toggle dropdown-lang" aria-expanded="false" aria-haspopup="true"
             data-toggle="dropdown" href="#" role="button">
            <img alt="language" class="lang-circle-icon" src="{{[getPathToCurrent()]}}"/>
          </a>
          <ul class="dropdown-menu pull-right-drop">
            <li *ngFor="let lang of languages" [ngClass]="{'active': getCurrent() == lang}">
              <a (click)="useLanguage(lang)">
                <img alt="lang flag" class="lang-circle-icon"
                     src="assets/images/country/{{lang}}_circle.png"/>
                <span>{{lang.toUpperCase()}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12">
        <h2>{{ "SERVICE_UNAVAILABLE.HEADER" | translate }}</h2>
        <p>
          {{ "SERVICE_UNAVAILABLE.TEXT_FIRST_PART" | translate }}
          <br>
          {{ "SERVICE_UNAVAILABLE.TEXT_SECOND_PART" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>