<nmaas-modal>
    <div class="nmaas-modal-header">{{'RESTART_MODAL.HEADER' | translate}}</div>
    <div class="nmaas-modal-body">
        <div class="form-group">
            <div>
                <p>{{'RESTART_MODAL.BODY' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-danger" (click)="restart()">{{'RESTART_MODAL.YES_BUTTON' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="modal.hide()">{{'RESTART_MODAL.CANCEL_BUTTON' | translate}}</button>
    </div>
</nmaas-modal>
