<div class="panel panel-default">
  <div class="panel-heading">Portal configuration</div>
  <div class="panel-body">
    <form (submit)="save()" class="form-horizontal" #configurationForm="ngForm" *ngIf="this.configuration">
      <div class="form-group">
        <label for="setMaintenance" class="col-sm-2 control-label">Maintenance: </label>
        <div class = "col-sm-10">
          <input type="checkbox" id="setMaintenance" name="setMaintenance"
                 [(ngModel)]="this.configuration.maintenance" [checked]="this.configuration.maintenance === true">
        </div>
        </div>
        <div class="form-group">
            <label for="SSOLoginAllowed" class="col-sm-2 control-label">Allow SSO login: </label>
            <div class = "col-sm-10">
                <input type="checkbox" id="SSOLoginAllowed" name="SSOLoginAllowed"
                       [(ngModel)]="this.configuration.ssoLoginAllowed" [checked]="this.configuration.ssoLoginAllowed === true">
            </div>
        </div>
      <button class="btn btn-primary" type="submit">Submit</button>
        <div class="alert alert-danger" style="margin-top: 5px" *ngIf="errorMsg">
            {{errorMsg}}
        </div>
    </form>
  </div>
</div>
