<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
	<div class="form-group form-group-sm" 
			[ngClass]="{'has-error':  registrationForm.controls.username.invalid && registrationForm.controls.username.dirty, 
 					 	'has-success': registrationForm.controls.username.valid && registrationForm.controls.username.dirty}">
		<label for="username" class="control-label">{{ 'REGISTRATION.USERNAME' | translate }} *</label>
		<input id="username" class="form-control" placeholder="{{ 'REGISTRATION.USERNAME' | translate }}" formControlName="username">
	</div>
	<div class="form-group form-group-sm"
			[ngClass]="{'has-error':  registrationForm.controls.newPassword.invalid && registrationForm.controls.newPassword.dirty,
 					 	'has-success': registrationForm.controls.newPassword.valid && registrationForm.controls.newPassword.dirty}">
		<label for="newPassword" class="control-label">{{ 'REGISTRATION.PASSWORD' | translate }} *</label>
		<input id="newPassword" type="password" class="form-control" placeholder="{{ 'REGISTRATION.PASSWORD' | translate }}" formControlName="newPassword">
		<span class="text-muted" style="font-size: 9px;">Minimum of 6 characters length</span>
	</div>
		<password-strength-meter [colors]="['darkred', 'red', 'orange', 'yellowgreen', 'green']"
								 [minPasswordLength]="6" [password]="this.registrationForm.controls['newPassword'].value">
		</password-strength-meter>
	<div class="form-group form-group-sm"
			[ngClass]="{'has-error':  registrationForm.controls.confirmPassword.invalid && (registrationForm.controls.confirmPassword.dirty || registrationForm.controls.newPassword.dirty) ,
 					 	'has-success': registrationForm.controls.confirmPassword.valid && registrationForm.controls.confirmPassword.dirty}">
		<label for="confirmPassword" class="control-label">{{ 'REGISTRATION.CONFIRM_PASSWORD' | translate }} *</label>
		<input id="confirmPassword" type="password" class="form-control" placeholder="{{ 'REGISTRATION.CONFIRM_PASSWORD' | translate }}" formControlName="confirmPassword">
	</div>
	<div class="form-group form-group-sm"
			[ngClass]="{'has-error':  registrationForm.controls.email.invalid && registrationForm.controls.email.dirty, 
 					 	'has-success': registrationForm.controls.email.valid && registrationForm.controls.email.dirty}">
		<label for="email" class="control-label">{{ 'REGISTRATION.EMAIL' | translate }} *</label>
		<input id="email" class="form-control" placeholder="{{ 'REGISTRATION.EMAIL' | translate }}" formControlName="email">
	</div>
	
	<div class="form-group form-group-sm">
		<label for="firstname" class="control-label">{{ 'REGISTRATION.FIRST_NAME' | translate }}</label>
		<input id="firstname" class="form-control" placeholder="{{ 'REGISTRATION.FIRST_NAME' | translate }}" formControlName="firstname">
	</div>
	
	<div class="form-group form-group-sm">
		<label for="lastname" class="control-label">{{ 'REGISTRATION.LAST_NAME' | translate }}</label>
		<input id="lastname" class="form-control" placeholder="{{ 'REGISTRATION.LAST_NAME' | translate }}" formControlName="lastname">
	</div>
	
	<div class="form-group form-group-sm">
		<label for="domainId" class="control-label">{{ 'REGISTRATION.DOMAIN' | translate }}</label>
		<select id="domainId" class="form-control" formControlName="domainId">
			<option [value]="null" [selected]="true">{{ 'REGISTRATION.NOT_SELECTED' | translate }}</option>
			<option *ngFor="let domain of domains | async" [value]="domain?.id">{{domain?.codename}} - {{domain?.name}}</option>
		</select>
	</div>

	<div class="form-group form-group-sm" style="display: none;">
		<input id="termsOfUseAccepted" type="checkbox" class="checkbox-inline" formControlName="termsOfUseAccepted">
		<label class="control-label">{{ 'REGISTRATION.AGREEMENT_MESSAGE' | translate }} <a (click)="modalInfoTerms.show()">{{ 'REGISTRATION.TERMS' | translate }}</a>*</label>
	</div>

	<div class="form-group form-group-sm">
		<input id="privacyPolicyAccepted" type="checkbox" class="checkbox-inline" formControlName="privacyPolicyAccepted" required>
		<label class="control-label">{{ 'REGISTRATION.AGREEMENT_MESSAGE' | translate }} <a (click)="modalInfoPolicy.show()">{{ 'REGISTRATION.PRIVACY_POLICY' | translate }}</a>*</label>
	</div>

	<div class="form-group-sm form-group">
		<re-captcha class="e2e-iframe-trusted-src" (resolved)="resolved($event)"></re-captcha>
	</div>

	<div class="form-group form-group-sm">
		<button class="btn btn-primary btn-block" [disabled]="!registrationForm.valid" type="submit" validate>
			{{ 'REGISTRATION.SUBMIT' | translate }}
			<img alt="submit" *ngIf="sending" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		</button>
	</div>

	<div *ngIf="submitted && !success" class="alert alert-danger text-center">
		{{errorMessage}}
	</div>
</form>
<nmaas-modal>
	<div class="nmaas-modal-header">
		<h4 style="text-align: center">{{ 'REGISTRATION.FORM_SUBMISSION' | translate }}</h4>
	</div>
	<div class="nmaas-modal-body">
		<div class="form-group text-left">
			<p class="text-center">{{ 'REGISTRATION.THANK_YOU_MESSAGE' | translate }}</p>
		</div>
	</div>
	<div class="nmaas-modal-footer">
		<button class="btn btn-danger center-block" [routerLink]="['/welcome/login']">{{ 'REGISTRATION.DONE_MESSAGE' | translate }}</button>
	</div>
</nmaas-modal>
<modal-info-terms></modal-info-terms>
<modal-info-policy></modal-info-policy>
