
<div class="tab-content col-sm-12 col-sm-12 col-md-12">
	<div class="tab-pane fade in"
		[class.active]="listType === ListType.GRID" id="tab-grid">
		<div class="row auto-clear">
			<nmaas-applist-element *ngFor="let app of applications | async" [app]="app" [selected]="(selected | async)?.has(app.id)" ></nmaas-applist-element>
		</div>
	</div>
	<div class="tab-pane fade in"
		[class.active]="listType === ListType.TABLE" id="tab-list">
		<div class="row" >
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>{{'APPLICATIONS.APPLICATION' | translate}}</th>
						<th>{{'APPLICATIONS.DESCRIPTION' | translate}}</th>
						<th>{{'APPLICATIONS.CATEGORY' | translate}}</th>
						<th>{{'APPLICATIONS.RATING' | translate}}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					<ng-template ngFor let-app [ngForOf]="applications | async">
					<tr [class.subscribed]="(selected | async)?.has(app?.id)">
						<td>{{app?.name}}</td>
						<td>{{app?.briefDescription}}</td>
						<td>{{app?.tags.join(", ")}}</td>
						<td><rate [pathUrl]="'/apps/' + app?.id + '/rate'"></rate></td>
						<td>
							<a [routerLink]="['/apps', app.id]"
							class="btn btn-sm btn-primary" role="button">{{'APPLICATIONS.DETAILS_BUTTON' | translate}}</a></td>
					</tr>
					</ng-template>
				</tbody>
			</table>

		</div>
	</div>
</div>
