
<div class="tab-content col-sm-12 col-sm-12 col-md-12" style="margin-top:15px;">
	<div *ngIf="listType === ListType.GRID" class="tab-pane fade in"
		[class.active]="listType === ListType.GRID" id="tab-grid">
		<div class="row auto-clear">
			<nmaas-applist-element *ngFor="let app of applications | async" [app]="app" [domainId]="domainId" [selected]="(selected | async)?.has(app.id)" [domain]="domainObject" ></nmaas-applist-element>
		</div>
	</div>
	<div *ngIf="listType === ListType.TABLE" class="tab-pane fade in"
		[class.active]="listType === ListType.TABLE" id="tab-list">
		<div class="row" >
			<table class="table table-hover table-condensed" aria-describedby="Applications details list">
				<thead>
					<tr>
						<th scope="col">{{'APPLICATIONS.APPLICATION' | translate}}</th>
						<th scope="col">{{'APPLICATIONS.DESCRIPTION' | translate}}</th>
						<th scope="col">{{'APPLICATIONS.CATEGORY' | translate}}</th>
						<th scope="col">{{'APPLICATIONS.RATING' | translate}}</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>

				<tbody>
					<ng-template ngFor let-app [ngForOf]="applications | async">
					<tr [class.subscribed]="(selected | async)?.has(app?.id)" class="clickable" [routerLink]="['/apps', app.id]">
						<td>{{app?.name}}</td>
						<td>{{getDescription(app)?.briefDescription}}</td>
						<td>{{app?.tags.join(", ")}}</td>
						<td><rate [pathUrl]="'/apps/' + app?.id + '/rate'" [rate]="app?.rate"></rate></td>
						<td></td>
					</tr>
					</ng-template>
				</tbody>
			</table>

		</div>
	</div>
</div>
