.modal {
      background: rgba(0,0,0,0.6);
}

.info-modal{
      background: rgba(66,139,202,10);
      color: white;
}

.error-modal{
      background: rgb(217, 33, 10);
      color: white;
}

.success-modal{
      background: rgba(92,184,92, 10);
      color: white;
}

.alert-modal{
    background: rgba(255,204,0,30);
    color: white;
}

.modal-header-none-display{
  display: none;
}