.modal {
  background: rgba(0,0,0,0.6);
}

.info-modal{
  background: rgba(66,139,202,6);
  color: white;
}

.error-modal{
  background: rgba(217,83,79, 6);
  color: white;
}

.success-modal{
  background: rgba(92,184,92, 6);
  color: white;
}