<div class="modal fade" tabindex="-1"
	[ngClass]="{'in': visibleAnimate}"
	[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
	<div class="modal-dialog modal-lg" style="max-height: 90%; overflow: auto; padding-top: calc(5vh + 75px); z-index: 1200;">
		<div class="modal-content">
            <div class="modal-header text-center" [ngClass]="{'alert-info': this.isInfo, 'alert-danger': this.isError,
            'alert-success': this.isSuccess, 'alert-warning': this.isWarning}">
                <img *ngIf="isError && isIconsEnabled"  src="../../../assets/images/error.png" class="modal-img " alt="Error">
				<img *ngIf="isInfo && isIconsEnabled" src="../../../assets/images/info.png" class="modal-img" alt="Error">
				<img *ngIf="isSuccess && isIconsEnabled" src="../../../assets/images/success.png" class="modal-img" alt="Error">
				<img *ngIf="isWarning && isIconsEnabled" src="../../../assets/images/alert.png" class="modal-img" alt="Error">
				<h4 style="display: inline-block; padding-left: 6px;" ><ng-content select=".nmaas-modal-header"></ng-content></h4>
            </div>
			<div class="modal-body">
				<ng-content select=".nmaas-modal-body"></ng-content>
			</div>
			<div class="modal-footer">
				<ng-content select=".nmaas-modal-footer"></ng-content>
			</div>
		</div>
	</div>
</div>