<app-navbar style="display: none;"></app-navbar>
<div id="welcome-container" class="container-fluid" (window:resize)="onResize()"
     (window:onload)="onResize()" style="margin-bottom: 20px;">
  <div class="center-block center text-center"><a routerLink="/" data-toggle="tooltip" data-placement="right"
                              title="Network Management as a Service homepage"><img src="assets/images/logo.png"
                                                                                    style="margin: 5px"></a>
  </div>
  <div class="card card-body col-lg-offset-2 col-md-offset-2 col-sm-offset-2
  col-lg-8 col-md-8 col-sm-8 col-xs-12" style="margin-top: 15px; font-size: 14px;">
    <div class="" [innerHTML]="content?.content">Default content</div>
    <p class="text-center"><a class="btn" style="color: inherit; border: 1px solid lightgray;" routerLink="/">Back to Home Page</a></p>
  </div>
</div>
<nmaas-footer id="welcome-footer"></nmaas-footer>