<div class="stepwizard">
    <div class="row stepwizard-row">

        <ng-template ngFor let-stage [ngForOf]="stages">
            <div class="stepwizard-step" *ngIf="stage.isVisible(activeState)" style="min-width: 180px;">
                <a type="button" class="btn btn-circle btn-default" [ngClass]="{
					'btn-success stepwizard-btn-success': displaySuccessStyle(stage),
					'btn-primary stepwizard-btn-primary': displayPrimaryStyle(stage),
					'btn-danger stepwizard-btn-danger': displayDangerStyle(stage),
					'btn-default stepwizard-btn-default':  displayDefaultStyle(stage)}">
                    {{stage.activeState}}
                </a>
                <p>{{ getTranslateTag(stage.name) }}</p>
            </div>
        </ng-template>
    </div>
</div>
