<div class="stepwizard">
	<div class="row stepwizard-row">

		<ng-template ngFor let-stage [ngForOf]="stages" >		 
		<div class="stepwizard-step" *ngIf="stage.isVisible(activeState)" style="min-width: 180px;">
 				<a type="button" class="btn btn-circle btn-default" [ngClass]="{ 
					'btn-success': (stage.activeState < AppInstanceState[activeState] && activeState !== AppInstanceState[AppInstanceState.FAILURE]) ||
									(stage.activeState < AppInstanceState[previousState] && AppInstanceState[previousState] !== AppInstanceState[AppInstanceState.UNKNOWN]),
					'btn-primary': (stage.activeState === AppInstanceState[activeState] && activeState != AppInstanceState[AppInstanceState.FAILURE]), 
					'btn-danger': (activeState === AppInstanceState[AppInstanceState.FAILURE] && stage.activeState === AppInstanceState[previousState]),
					'btn-default':  (stage.activeState > AppInstanceState[previousState] && previousState !== AppInstanceState[AppInstanceState.UNKNOWN] )
									|| (stage.activeState > AppInstanceState[activeState] && activeState !== AppInstanceState[AppInstanceState.FAILURE])
									|| (activeState == AppInstanceState[AppInstanceState.UNKNOWN]) || (stage.activeState === AppInstanceState.REQUESTED) || (!stage?.activeState)
				}">{{stage.activeState}}</a> 
			<p>{{stage.name}}</p>
		</div>
		</ng-template>
	</div>
</div>
