.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #bbbbbb;
  /* Set the fixed height of the footer here */
  /* #max-height: 48px; */
  background-color: #f5f5f5;
  z-index: 800;
  text-align: center;
  display: block;
  overflow: hidden;
}

.img-footer{
  max-height: 34px;
  height: 100%;
}