footer {
  flex-shrink: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #e7e7e7;
}

/*explicit text alignment for chrome*/
footer p {
  text-align: left;
}

a:link{
  color: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: underline;
}

a:hover {
  font-weight: 600;
}

.img-footer{
  max-height: 34px;
  height: 100%;
}

.footer-light{
    color: #bbbbbb;
}

.footer-dark{
  color: gray !important;
}

.footer-line{
  color: rgb(108, 117, 125);
}

.footer-upper{
  padding-top: 10px;
  font-size: 14px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  color: gray;
  background-color: white;
  border-color: black;
  box-shadow: none;
  background-image: none;
  border-width: 2px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.footer-move-top{
  cursor: pointer;
}

.footer-size-normal{
  font-size: smaller;
}

.image-link {
  max-width:100%;
  max-height: 100%;
}

.row-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}
