		<footer class="footer col-lg-12" id="global-footer">
			<div class="container-fluid">

				<div class="col-lg-4 col-md-4 text-center bottom-left">
					<a routerLink="/privacy">Privacy Notice</a>
				</div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center" >
                    <p style="text-align:center; vertical-align: text-bottom;"><a href="http://geant.org" target="_blank" rel="nofollow"><img class="img-footer" src="assets/images/geant-logo-small.png" alt="GEANT"></a></p>
					<p>NMaaS @Geant 2017-2018</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center bottom-right">
					<a *ngIf="appConfigService.getShowGitInfo()" routerLink="/about" class="text-right">{{'GIT_INFO.VERSION' | translate}} {{gitInfo?.buildVersion}}</a>
                </div>

			</div>
		</footer>