.container-fluid {
	min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(#406081, #004041);
}

h4.panel-title {
	font-size: 18px;
}

.card-body span {
	font-weight: bold;
}