.container-fluid {
	min-height: 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(#406081, #004041);
}

h4.panel-title {
	font-size: 18px;
}

.card-body span {
	font-weight: bold;
}

.panel-padding{
	padding-bottom: 15px;
}

.item-padding{
	padding-bottom: 8px;
}

.tag-extended{
	display: inline-block;
	width: 100px;
	color: white;
	padding: 2px 5px 2px 5px;
	margin-right: 10px;
	text-align: center;
}

.tag-extended-feature{
	background-color: #2E74B5;
}

.tag-extended-enhancement{
	background-color: #000080;
}

.tag-extended-bugfix{
	background-color: #008400;
}

.tag-extended-removed{
	background-color: #b71332;
}