.short-input{
    border: none;
    border-top: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    box-shadow: inset 0 0 1px gray;
}

.textarea-contact{
    border: 1px solid lightgray;
    box-shadow: inset 0 0 1px gray;
    transition: none;
}

.version-row-padding{
    padding-left: 15px;
    padding-right:15px;
}
