<h3 *ngIf="language"><img alt="language" src="assets/images/country/{{language.language}}_circle.png" style="height: 32px;"> {{'LANGUAGE.' + language.language.toUpperCase() + '_LABEL' | translate}}</h3>
<label for="advanced-switch">{{switchLabel}}</label>
<br>
<p-inputSwitch [(ngModel)]="advanced" id="advanced-switch" name="advanced-switch" (onChange)="handleLabel()"></p-inputSwitch>
<div *ngIf="language && !advanced">
  <div *ngFor="let key of keys; let ix=index">
    <div class="panel panel-default">
      <div class="panel-heading" (click)="hide[ix]=!hide[ix]">{{key.toString()}}</div>
      <table class="table table-striped" *ngIf="!hide[ix]">
        <thead>
        <tr>
          <th>{{'LANGUAGE_MANAGEMENT.TABLE_KEY' | translate}}</th>
          <th>{{'LANGUAGE_MANAGEMENT.TABLE_VALUE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-innerKey [ngForOf]="getKeys(languageContent[key])" let-i="index">
            <tr *ngIf="!isObject(languageContent[key][innerKey])">
              <td>{{innerKey}}</td>
              <td><input [(ngModel)]="languageContent[key][innerKey]" name="input-{{innerKey}}-{{i}}"/></td>
            </tr>
            <tr *ngIf="isObject(languageContent[key][innerKey])">
              <td>{{innerKey}}</td>
              <table class="table" style="width: 100% !important;">
                <tbody>
                <ng-template ngFor let-nestedKey [ngForOf]="getKeys(languageContent[key][innerKey])">
                  <tr>
                    <td>{{nestedKey}}</td>
                    <td><input [(ngModel)]="languageContent[key][innerKey][nestedKey]" name="input-{{innerKey}}-{{nestedKey}}-{{i}}" /></td>
                  </tr>
                </ng-template>
                <tr>
                  <td><input [(ngModel)]="newNestedKeys[ix][i]" name="newNestedElementKey" /></td>
                  <td><input [(ngModel)]="newNestedValues[ix][i]" name="newNestedElementValue" /></td>
                </tr>
                <button class="btn btn-primary" (click)="handleAddingNewElements(languageContent[key][innerKey], ix, i)">{{'LANGUAGE_MANAGEMENT.ADD_NEW_ITEM_BUTTON' | translate }}</button>
                </tbody>
              </table>
            </tr>
          </ng-template>
          <tr>
            <td><input [(ngModel)]="newKeys[ix]" name="newElementKey" /></td>
            <td><input [(ngModel)]="newValues[ix]" name="newElementValue" /></td>
           </tr>
          <button class="btn btn-primary" (click)="handleAddingNewElements(languageContent[key], ix, undefined)">{{'LANGUAGE_MANAGEMENT.ADD_NEW_ITEM_BUTTON' | translate }}</button>
        </tbody>
      </table>
      <div class="alert alert-danger" *ngIf="errorMsg && !hide[ix]">
        {{errorMsg}}
      </div>
    </div>
  </div>

  <div *ngFor="let template of mailTemplates; let ix=index">
    <div class="panel panel-default">
      <div class="panel-heading" (click)="hideMails[ix]=!hideMails[ix]">{{template.mailType}}</div>
      <div class="panel-body" *ngIf="!hideMails[ix]">
        <label for="subject-textarea">{{'LANGUAGE_MANAGEMENT.SUBJECT_LABEL' | translate}}</label>
        <input style="width:100%;" class="form-control"  [(ngModel)]="getTemplateInSelectedLang(template.templates).subject" name="subject-textarea" id="subject-textarea" />
        <hr>
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let content of getTemplateInSelectedLang(template.templates).template | keyvalue; let i=index">
            <td>{{content.key}}</td>
            <td><input style="width: 100%;" class="form-control" [ngModel]="content.value" name="content-{{i}}-input"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="language && advanced">
  <div class="panel panel-default">
    <div class="panel-heading">{{'LANGUAGE_MANAGEMENT.LABELS_TRANSLATION' | translate }}</div>
    <div class="panel-body">
      <textarea style="width:100%;" class="form-control" [rows]="50" [(ngModel)]="language.content" name="content-textarea"></textarea>
    </div>
  </div>
  <h3>{{'LANGUAGE_MANAGEMENT.MAILS_TRANSLATION' | translate }}</h3>
  <hr>
  <ng-template ngFor let-template [ngForOf]="mailTemplates">
    <div class="panel panel-default">
      <div class="panel-heading">{{template.mailType}}</div>
      <div class="panel-body">
        <label for="raw-subject-textarea">{{'LANGUAGE_MANAGEMENT.SUBJECT_LABEL' | translate}}</label>
        <input style="width:100%;" class="form-control"  [(ngModel)]="getTemplateInSelectedLang(template.templates).subject" name="subject-textarea" id="raw-subject-textarea" />
        <hr>
        <table class="table">
          <tbody>
            <tr *ngFor="let content of getTemplateInSelectedLang(template.templates).template | keyvalue; let i=index">
              <td>{{content.key}}</td>
              <td><input style="width: 100%;" class="form-control" [ngModel]="content.value" name="raw-content-{{i}}-input"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</div>

<button class="btn btn-primary" *ngIf="language" (click)="saveChanges()">{{'LANGUAGE_MANAGEMENT.SUBMIT_BUTTON' | translate }}</button>

<div *ngIf="!language">
  <h3>{{'LANGUAGE_MANAGEMENT.NOT_SUPPORTED_MESSAGE' | translate }}</h3>
</div>
