<div class="col-sm-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
	<h3>{{ 'DOMAINS.TITLE' | translate }}</h3>
	<a *roles="['ROLE_SYSTEM_ADMIN']" [routerLink]="['add']" class="btn btn-primary" role="button">{{'DOMAINS.ADD_BUTTON' | translate}}</a>
	<br>
	<table class="table table-hover table-condensed" aria-describedby="Domains list">
		<thead>
			<tr>
				<th scope="col">{{ 'DOMAINS.CODE_NAME' | translate }}</th>
				<th scope="col">{{ 'DOMAINS.NAME' | translate }}</th>
				<th scope="col">{{ 'DOMAINS.ACTIVATE' | translate }}</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<ng-template ngFor let-domain [ngForOf]="domains | async">
			<tr>
				<td>{{domain?.codename}}</td>
				<td>{{domain?.name}}</td>
				<td><span class="glyphicon glyphicon-ok" *ngIf="domain?.active"></span><span class="glyphicon glyphicon-remove" *ngIf="!(domain?.active)"></span></td>				
				<td>
					<span class="dropdown">
						<a style="display: inline-block" class="dropdown-toggle " aria-expanded="false" aria-haspopup="true"
						   data-toggle="dropdown" href="#" role="button">
							<em class="fas fa-cog icon-black icon-bigger"></em>
						</a>
						<ul class="dropdown-menu pull-right-drop">
							<li><a [routerLink]="['view/', domain.id]" class="">
								{{ 'DOMAINS.DETAILS_BUTTON' | translate }}</a>
							</li>
							<li><a *roles="['ROLE_SYSTEM_ADMIN', 'ROLE_OPERATOR']" [routerLink]="['edit/', domain.id]"
								   class="">{{ 'DOMAINS.EDIT_BUTTON' | translate }}</a>
							</li>
							<li><a *roles="['ROLE_SYSTEM_ADMIN']" (click)="changeState(domain)"
								   class="">{{ getStateLabel(domain?.active) }}</a>
							</li>
						</ul>
					</span>
				</td>
			</tr>
			</ng-template>
		</tbody>
	</table>
</div>
