
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	<div class="thumbnail" [class.subscribed]="selected">
		<div style="height: 300px; overflow-y: auto;">
			<img alt="App logo"style="width: 180px;" [src]="appImagesService.getAppLogoUrl(app?.id) | secure"
				 onError="this.src='assets/images/app-logo-example.png';this.style='max-width: 180px; max-height: 90px;'"  />
			<div class="caption" style="">
				<h3>{{app?.name}}</h3>
				<p >
					<rate [pathUrl]="'/apps/' + app?.id + '/rate'"></rate>
				</p>
				<hr>
				<p>{{app?.briefDescription}}</p>
			</div>
		</div>
		<hr>
		<div>
			<p>
				<a [routerLink]="['/apps', app.id]" class="btn btn-primary"
				   role="button">{{'APPLICATIONS.DETAILS_BUTTON' | translate}}</a>
				<a href="#" class="btn btn-success disabled pull-right" *ngIf="selected">{{'APPLICATIONS.SUBSCRIBED_BUTTON' | translate}}</a>
				<button class="btn btn-default pull-right" *ngIf="router.url == '/subscriptions' && showDeployButton()" (click)="modal.show()">{{'INSTALL_MODAL.DEPLOY_BUTTON' | translate}}</button>
			</p>
		</div>
	</div>
</div>

<nmaas-modal-app-install [app]="app"></nmaas-modal-app-install>