
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	<div class="thumbnail" [class.subscribed]="selected">
		<div style="height: 260px; overflow-y: auto;">
			<img class="center center-block" alt="App logo" style="max-width: 100px; max-height: 80px;" [src]="appImagesService.getAppLogoUrl(app?.id) | secure"
				 onError="this.src='assets/images/app-logo-example.png';this.style='max-width: 100px; max-height: 80px;'"  />
			<div class="caption text-center">
				<h3>{{app?.name}}</h3>
				<p >
					<rate [pathUrl]="'/apps/' + app?.id + '/rate'"></rate>
				</p>
				<hr>
				<p>{{getDescription()?.briefDescription}}</p>
			</div>
		</div>
		<hr>
		<div>
			<p>
				<a [routerLink]="['/apps', app.id]" class="btn btn-primary"
				   role="button">{{'APPLICATIONS.DETAILS_BUTTON' | translate}}</a>
				<a href="#" class="btn btn-success disabled pull-right" *ngIf="selected">{{'APPLICATIONS.SUBSCRIBED_BUTTON' | translate}}</a>
				<span class="pull-right" tooltip="{{'APPLICATIONS.TOOLTIP_MESSAGE_DEPLOY' | translate}}" [options]="defaultTooltipOptions">
					<button class="btn btn-default pull-right" *ngIf="router.url == '/subscriptions' && showDeployButton()" [disabled]="!isApplicationEnabledInDomain()" (click)="modal.show()" >{{'INSTALL_MODAL.DEPLOY_BUTTON' | translate}}</button>
				</span>
			</p>
		</div>
	</div>
</div>

<nmaas-modal-app-install [app]="app"></nmaas-modal-app-install>
