.subscribed {
	background-color: #f7fff9;
}

hr {
	margin-top: 1px;
	margin-bottom: 2px;
}

.caption {
	padding: 5px !important;
}

.image-container {
	max-width: 160px;
	max-height: 80px;
}

.image-container-outer {
	width: 160px;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.element-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	height: 240px;
	overflow-y: auto;
}

.description-container {
	width: 100%;
}

.app-name {
	white-space: nowrap;
}

.text-two-lines {
	width: 100%;
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
	/*this ia a dirty hack to force ellipsis*/
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.bottom-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.flex-spacer {
	width: 100%;
}

.label-font {
	display: inline;
	color: #5cb85c;
	font-size: 14px;
	padding: .2em .6em .2em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
