on: push
jobs:
  git-sync:
    runs-on: ubuntu-22.04
    steps:
      - name: git-sync
        uses: korvoj/git-sync@5eacd8ac78ae91a984f3aa430b09a0051abb2dc0
        with:
          source_repo: 'git@github.com:nmaas-platform/nmaas-platform.git'
          source_branch: 'refs/remotes/source/*'
          destination_repo: 'git@gitlab.geant.org:nmaas/nmaas-platform.git'
          destination_branch: 'refs/heads/*'
          source_ssh_private_key: ${{ secrets.SOURCE_SSH_PRIVATE_KEY }}
          destination_ssh_private_key: ${{ secrets.DESTINATION_SSH_PRIVATE_KEY }}