<form [formGroup]="selectForm">
    <div class="form-group">
        <label for="selectedFormKey">{{'CONTACT_FORM.SELECT_CATEGORY' | translate}}:</label>
        <select id="selectedFormKey" [formControlName]="'formKey'" name="selectedFormKey" class="form-control">
            <option *ngFor="let k of getFormOptions()" [value]="k">{{'CONTACT_FORM.TYPES.' + k | translate}}</option>
        </select>
    </div>
</form>

<hr/>

<formio *ngIf="currentFormioTemplate && i18n" [form]="currentFormioTemplate"
        [success]="successEmitter"
        [refresh]="refreshForm"
        [language]="langChangeEventEmitter"
        [renderOptions]="{
        language: getCurrentLang(),
        i18n: i18n
        }"
        (ready)="ready($event)"
        (submit)="onSubmit($event.data)"></formio>

<nmaas-modal (click)="modal.hide()">
    <div class="nmaas-modal-header">{{'CONTACT_FORM.MODAL.TITLE' | translate}}</div>
    <div class="nmaas-modal-body">
        {{ 'CONTACT_FORM.MODAL.MESSAGE' | translate }}
    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">
            {{'CONTACT_FORM.MODAL.CLOSE_BUTTON' | translate}}
        </button>
    </div>
</nmaas-modal>
