<div>
    <label for="selectedFormKey">Select category:</label>
    <select id="selectedFormKey" [(ngModel)]="selectedFormKey" name="selectedFormKey">
        <option *ngFor="let k of getFormOptions()" [value]="k">{{k | translate}}</option>
    </select>
</div>

<formio *ngIf="currentFormTemplate" [form]="currentFormTemplate"
        (ready)="ready($event)"
        (submit)="onSubmit($event.data)"></formio>

<nmaas-modal (click)="modal.hide()">
    <div class="nmaas-modal-header">{{'CONTACT_FORM.MODAL.TITLE' | translate}}</div>
    <div class="nmaas-modal-body">
        {{'CONTACT_FORM.MODAL.MESSAGE' | translate }}
    </div>
    <div class="nmaas-modal-footer">
        <button type="button" class="btn btn-default"
                (click)="modal.hide()">{{'CONTACT_FORM.MODAL.CLOSE_BUTTON' | translate}}</button>
    </div>
</nmaas-modal>
